/*ul{*/
/*  list-style: none;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  display: inline;*/
/*  background: #AAAAAA;*/
/*}*/
/*ul li{*/
/*  float: left;*/
/*}*/

/*ul.dropdown1 li{*/
/*  display: none;*/
/*}*/

/*ul.dropdown2 li{*/
/*  display: none;*/
/*}*/

/*ul.dropdown3 li{*/
/*  display: none;*/
/*}*/

/*ul.dropdown4 li{*/
/*  display: none;*/
/*}*/

/*ul.dropdown5 li{*/
/*  display: none;*/
/*}*/

/*ul.dropdown6 li{*/
/*  display: none;*/
/*}*/

/*ul.dropdown7 li{*/
/*  display: none;*/
/*}*/
nav{
  background: white;
  height: 60px;
  width: 100%;
}
nav div {
  float: right;
}
nav div button{
  display: inline-block;
  line-height: 60px;
  margin: 0 20px;
}


/*button{*/
/*  !*background: url("~src/assets/table.png") no-repeat;*!*/
/*  margin-left: 2px;*/
/*  margin-right: 2px;*/
/*  font-size: 20px;*/
/*  display:block;*/
/*  height: 300px;*/
/*  width: 300px;*/
/*  border: 0;*/
/*  !*border-radius: 100%;*!*/
/*  background: url("~src/assets/table.png") no-repeat;*/
/*}*/
/*span{*/
/*  visibility: hidden;*/
/*  width: 130px;*/
/*  background-color: black;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  border-radius: 6px;*/
/*  !*padding: 5px 0;*!*/
/*  font-size: 16px;*/
/*  position: absolute;*/
/*  font-family: Arial, serif;*/
/*  z-index: 1;*/
/*  top: 90%;*/
/*  left: 60%;*/
/*  margin-left: -60px;*/
/*}*/
