@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .navBar {

    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);

    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    
    // Read the 500 hue from the primary color palette.
    color: mat.get-color-from-palette($primary-palette, 50);

    position: absolute;
    display: flex;
    height: 5vh;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .spacer {
    flex: 1 1 auto;
  };
}