<nav class='navBar' id='{{isDevMode() ? "devModeColor" : ""}}'>
  <img
    class='pmksImage'
    alt='PMKS+'
    src='assets/PMKS_logo.png'
    onClick='window.location.reload()'
  />
  <button mat-button onclick="window.open(window.location.origin, '_blank'); logEvent(this.analytics, 'new_file');">
    <mat-icon>note_add</mat-icon>
    New
  </button>
  <input #csvInput style='display: none' type='file' accept='.csv' (change)='upload($event)' />
  <button mat-button (click)='csvInput.click()'>
    <mat-icon>file_open</mat-icon>
    Open
  </button>
  <button mat-button (click)='popUpTemplates()'>
    <mat-icon>apps</mat-icon>
    Templates
  </button>
  <button mat-button (click)='downloadLinkage()'>
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button mat-button (click)='copyURL()'>
    <mat-icon>link</mat-icon>
    Share Project
  </button>
  <div class='spacer'></div>
  <ng-container *ngIf='isDevMode()'>
    <p style='font-size: 10px; pointer-events: none; max-height: 50px; overflow: hidden'>
      You are in Development Mode. The color will return to normal when you build with the production flag. </p>
  </ng-container>
  <button *ngIf='isDevMode()' mat-button (click)='openRightPanelDebug()'>
    <mat-icon>bug_report</mat-icon>
    Debug
  </button>
  <button mat-button (click)='openRightPanelSettings()'>
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <button mat-button (click)='openRightPanelEquations()'>
    <mat-icon>format_list_numbered</mat-icon>
    Equations
  </button>
  <button mat-button (click)='openRightPanelHelp()'>
    <mat-icon>help</mat-icon>
    Help / Feedback
  </button>
</nav>
