/*!*nav{*!*/
/*!*  background: white;*!*/
/*!*  height: 60px;*!*/
/*!*  width: 100%;*!*/
/*!*}*!*/
/*!*nav div {*!*/
/*!*  float: right;*!*/
/*!*}*!*/
/*!*nav div button{*!*/
/*!*  display: inline-block;*!*/
/*!*  line-height: 60px;*!*/
/*!*  margin: 0 20px;*!*/
/*!*}*!*/

/*td{*/
/*  width: 50%;*/
/*}*/
/*th{*/
/*  padding: 1px 4px;*/
/*}*/
/*.inputPos{*/
/*  width: 10%;*/
/*  padding: 5px 5px;*/
/*  margin: 20px;*/
/*  font-size: 20px;*/
/*}*/
/*button:hover {*/
/*  background-color: #AAAAAA;*/
/*}*/
/*h1{*/
/*  margin: 5px;*/
/*  text-align: left;*/
/*  float: left;*/
/*  font-size: 30px;*/
/*  margin-block-start: 0;*/
/*  margin-block-end: 0;*/
/*}*/
/*h3{*/
/*  margin: 5px;*/
/*}*/
/*h4{*/
/*  text-align: center;*/
/*  font-size: 17px;*/
/*  left: 2%;*/
/*  margin: 10px;*/
/*  position: relative;*/
/*  display: inline-block;*/
/*}*/
/*#chooseFile{*/
/*  position: relative;*/
/*  background-color: unset;*/

/*}*/
/*#saveFile{*/
/*  position: relative;*/
/*  border: 0px ;*/
/*}*/
/*.chooseFileInput{*/
/*  position: relative;*/
/*  left: 3%;*/
/*  height: 20px;*/
/*  width: 300px;*/
/*  padding: 2px 4px;*/
/*  border: 1px solid black;*/

/*}*/

/*.clearfix {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*.clearfix::after {*/
/*  display: table;*/
/*  content: '';*/
/*  clear: both;*/
/*}*/

/*#selectedRound{*/
/*  position: relative;*/
/*  left: 5%;*/
/*  top: 2px;*/
/*  height: 20px;*/
/*  width: 300px;*/
/*  border: 1px solid black;*/
/*  font-size: 17px;*/

/*}*/
/*.analysisBtn{*/
/*  position: relative;*/
/*  background-color: #D9F2EF;*/
/*  height: 21px;*/
/*  font-size: 15px;*/
/*  margin: 8px 12px;*/
/*}*/
/*.infoBtn{*/
/*  width: 100px;*/
/*}*/
/*#loopAn{*/
/*  !* width: 115px;*/
/*  height: 35px; *!*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/
/*!*#loopAn{*!*/
/*!*  !* width: 115px; *!*!*/
/*!*  height: 35px;*!*/
/*!*  font-size: 17px;*!*/
/*!*  top: 0px;*!*/
/*!*}*!*/
/*#staticAn{*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0px;*/
/*}*/

/*#stressAn{*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0px;*/
/*}*/
/*!*#staticAn{*!*/
/*!*  !* width: 115px; *!*!*/
/*!*  left: 1%;*!*/
/*!*  height: 35px;*!*/
/*!*  font-size: 17px;*!*/
/*!*  top: 0px;*!*/
/*!*}*!*/
/*#dynamicAn{*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0px;*/
/*}*/
/*!*#dynamicAn{*!*/
/*!*  left: 2%;*!*/
/*!*  !* width: 115px; *!*!*/
/*!*  height: 35px;*!*/
/*!*  font-size: 17px;*!*/
/*!*  top: 0px;*!*/

/*!*}*!*/
/*#stressAn{*/
/*  !* width: 115px;*/
/*  height: 35px; *!*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/
/*!*#stressAn{*!*/
/*!*  left: 3%;*!*/
/*!*  !* width: 115px; *!*!*/
/*!*  height: 35px;*!*/
/*!*  font-size: 17px;*!*/
/*!*  top: 0px;*!*/

/*!*}*!*/
/*!*#kinematicAn{*!*/
/*!*  left: 3%;*!*/
/*!*  !* width: 115px; *!*!*/
/*!*  height: 35px;*!*/
/*!*  font-size: 17px;*!*/
/*!*  top: 0px;*!*/

/*!*}*!*/
/*#kinematicLoop{*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0px;*/
/*}*/
/*!*#kinematicLoop{*!*/
/*!*  left: 4%;*!*/
/*!*  !* width: 115px; *!*!*/
/*!*  height: 35px;*!*/
/*!*  font-size: 17px;*!*/
/*!*  top: 0px;*!*/
/*!*}*!*/
/*#kinematicIC{*/
/*  !* width: 115px;*/
/*  height: 35px; *!*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/
/*!*#kinematicIC{*!*/
/*!*  left: 5%;*!*/
/*!*  !* width: 115px; *!*!*/
/*!*  height: 35px;*!*/
/*!*  font-size: 17px;*!*/
/*!*  top: 0px;*!*/
/*!*}*!*/
/*#Help{*/
/*  !* width: 115px; *!*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0px;*/
/*}*/
/*#Linkages{*/
/*  !* width: 115px; *!*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/
/*#Tutorial{*/
/*  !* width: 115px; *!*/
/*  !* height: 35px; *!*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/
/*#IC{*/
/*  !* width: 115px; *!*/
/*  !* height: 35px; *!*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0;*/

/*}*/
/*#Report{*/
/*  !* width: 115px; *!*/
/*  !* height: 35px; *!*/
/*  font-size: 17px;*/
/*  top: 0;*/

/*}*/
/*#About{*/
/*  !*height: 35px;*!*/
/*  !*font-size: 17px;*!*/
/*  !*top: 0;*!*/
/*  !* width: 115px;*/
/*  height: 35px; *!*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/

/*p{*/
/*  text-align: left;*/
/*}*/
/*div{*/
/*  text-align: left;*/
/*}*/

/*.tabs{*/
/*  position: relative;*/
/*}*/

/*.innerTabs {*/
/*  float: left;*/
/*  margin: auto;*/
/*  text-align: center;*/
/*}*/

/*.spLinkTable {*/
/*  display: table-cell;*/
/*}*/

/*!* Style the tab content (and add height:100% for full page content) *!*/
/*.tabcontent {*/
/*  !*height: 95%;*!*/
/*  height: 46px;*/
/*  width: 640px;*/
/*  !*width: auto;*!*/
/*  background-color: #D9F2EF;*/
/*  border: 0 solid black;*/
/*  color: black;*/
/*  text-align: left;*/
/*  font-size: 12px;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/

/*.tooltip {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  !* border-bottom: 1px dotted rgb(136, 127, 127); *!*/
/*}*/

/*.tooltip .tooltiptext {*/
/*  visibility: hidden;*/
/*  width: 90px;*/
/*  background-color: black;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  border-radius: 6px;*/
/*  padding: 5px 0;*/
/*  font-size: 14px;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  top: 80%;*/
/*  left: 60%;*/
/*  margin-left: -60px;*/

/*  !* Position the tooltip *!*/
/*}*/
/*.tooltip .tooltiptext::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  bottom: 100%;*/
/*  left: 50%;*/
/*  margin-left: -5px;*/
/*  border: 5px solid transparent;*/
/*  border-bottom-color: black;*/
/*}*/

/*.tooltip:hover .tooltiptext {*/
/*  visibility: visible;*/
/*}*/


/*::ng-deep .mat-tab-body-active {*/
/*  overflow: hidden !important;*/
/*}*/
/*::ng-deep .mat-tab-body-wrapper {*/
/*  height: 100% !important;*/
/*}*/
/*::ng-deep .mat-tab-label {*/
/*  border: 1px solid black;*/
/*  height: 100% !important;*/
/*}*/
/*::ng-deep .mat-tab-header {*/
/*  height: 40%;*/
/*  border-bottom: none;*/
/*}*/
/*::ng-deep .mat-tab-label .mat-tab-label-content {*/
/*  font-size: 24px !important;*/
/*  font-family: Arial;*/
/*}*/

/*.mat-tab-group {*/
/*  opacity: 1;*/
/*}*/

/*::ng-deep .mat-tab-list .mat-tab-labels  {*/
/*  border: 1px solid #000000;*/
/*  background-color: #D1D1D1;*/
/*  color: black;*/
/*  width: fit-content;*/
/*  position: relative;*/
/*  height: 100%;*/
/*}*/
/*::ng-deep .mat-ink-bar {*/
/*  visibility: hidden !important;*/
/*}*/

/*#mat-tab-content-0-0{*/
/*  !*is this needed?*!*/
/*  overflow-y: hidden;*/

/*}*/
/*!* active tab *!*/
/*::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {*/
/*  border: 1px solid #000000;*/
/*  background-color: #AAAAAA;*/
/*  color: black;*/
/*  overflow-y: hidden;*/
/*}*/

/*::ng-deep .mat-ink-bar {*/
/*  background-color:beige !important;}*/

/*.mat-tab-label.mat-tab-label-active {*/
/*  background-color: white;*/
/*  color: black;*/
/*}*/

/*#logoWrapper {*/
/*  min-width: 200px;*/
/*  min-height: 80px;*/
/*  height: 11%;*/
/*}*/

/*#logo{*/
/*  height: 100%;*/
/*  object-fit: contain;*/
/*  cursor: pointer;*/
/*  background-color: white;*/
/*}*/

/*.ontop {*/
/*  z-index: 9999;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  top: 0;*/
/*  left: 0;*/
/*  display: none;*/
/*  position: absolute;*/
/*  background-color: rgba(204,204,204,0.8);*/
/*  color: #aaaaaa;*/
/*  text-align: center;*/
/*  font-size: 32px;*/
/*}*/
/*#popup {*/
/*  width: 600px;*/
/*  height: 400px;*/
/*  position: absolute;*/
/*  color: #000000;*/
/*  background-color: #ffffff;*/
/*  !* To align popup window at the center of screen*!*/
/*  top: 45%;*/
/*  left: 45%;*/
/*  margin-top: -100px;*/
/*  margin-left: -150px;*/
/*}*/
/*.popupAnalysis{*/
/*  !*width: 450px;*!*/
/*  !*height: 500px;*!*/
/*  width: 550px;*/
/*  height: 600px;*/
/*  position: absolute;*/
/*  color: #000000;*/
/*  background-color: #ffffff;*/
/*  !* To align popup window at the center of screen*!*/
/*  top: 15%;*/
/*  left: 34%;*/
/*  !*margin-top: -100px;*!*/
/*  !*margin-left: -150px;*!*/
/*}*/

/*.popupWindow {*/
/*  width: 800px;*/
/*  height: 800px;*/
/*  position: absolute;*/
/*  color: #000000;*/
/*  background-color: #ffffff;*/
/*  top: 7%;*/
/*  left: 24%;*/
/*}*/

/*#unit-prop {*/
/*  border: 1px solid black;*/
/*  margin: 5px;*/
/*  width: 80%;*/
/*  height: 25%;*/
/*}*/

/*#material-prop {*/
/*  border: 1px solid black;*/
/*  margin: 5px;*/
/*  width: 80%;*/
/*  height: 30%;*/
/*}*/

/*#link-dim {*/
/*  border: 1px solid black;*/
/*  margin: 5px;*/
/*  width: 80%;*/
/*  height: 15%;*/
/*}*/

/*.secondaryButtons {*/
/*  -moz-box-shadow:inset 0 1px 0 0 #ffffff;*/
/*  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;*/
/*  box-shadow:inset 0px 1px 0px 0px #ffffff;*/
/*  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);*/
/*  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);*/
/*  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);*/
/*  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);*/
/*  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);*/
/*  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);*/
/*  background-color:#f9f9f9;*/
/*  -moz-border-radius:6px;*/
/*  -webkit-border-radius:6px;*/
/*  border-radius:20px;*/
/*  border:1px solid black;*/
/*  display:inline-block;*/
/*  cursor:pointer;*/
/*  color: black;*/
/*  font-size:17px;*/
/*  padding:6px 24px;*/
/*  text-decoration:none;*/
/*  text-shadow:0px 1px 0px #ffffff;*/
/*  margin: 8px 7px;*/
/*  outline: none;*/
/*}*/
/*.secondaryButtons:hover {*/
/*  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);*/
/*  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);*/
/*  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);*/
/*  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);*/
/*  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);*/
/*  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);*/
/*  background-color:#AAAAAA;*/
/*}*/
/*.secondaryButtons:active {*/
/*  position:relative;*/
/*  top:1px;*/
/*}*/

/*.templateButton{*/
/*  width: 20em;*/
/*  margin-top: 5px;*/
/*  margin-bottom: 5px;*/
/*}*/

/*!* The Modal (background) *!*/
/*.modal {*/
/*  display: none; !* Hidden by default *!*/
/*  position: fixed; !* Stay in place *!*/
/*  z-index: 1; !* Sit on top *!*/
/*  padding-top: 100px; !* Location of the box *!*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%; !* Full width *!*/
/*  height: 100%; !* Full height *!*/
/*  overflow: auto; !* Enable scroll if needed *!*/
/*  background-color: rgb(0,0,0); !* Fallback color *!*/
/*  background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*  z-index: 10000;*/
/*}*/

/*.modal-body {*/
/*  max-height: calc(100vh - 210px);*/
/*  overflow-y: auto;*/
/*  margin-left: 5%;*/
/*  margin-right: 5%;*/
/*}*/

/*!* Modal Content *!*/
/*.modal-content {*/
/*  background-color: #fefefe;*/
/*  margin: auto;*/
/*  padding: 20px;*/
/*  border: 1px solid #888;*/
/*}*/

/*.modal-text{*/
/*  display: inline-block;*/
/*  font-size: 28px;*/
/*}*/

/*.modal-image{*/
/*  display: inline-block;*/
/*  margin-left: 20px;*/

/*}*/

/*.link {*/
/*  display: none; !* Hidden by default *!*/
/*  position: fixed; !* Stay in place *!*/
/*  z-index: 1; !* Sit on top *!*/
/*  padding-top: 100px; !* Location of the box *!*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%; !* Full width *!*/
/*  height: 100%; !* Full height *!*/
/*  overflow: auto; !* Enable scroll if needed *!*/
/*  background-color: rgb(0,0,0); !* Fallback color *!*/
/*  background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*  z-index: 10000;*/
/*}*/

/*.input-text {*/
/*  float: left;*/
/*  width: 21%;*/
/*  !*width: 17%;*!*/
/*  height: 100%;*/
/*  font-size: 15px;*/
/*  padding-top: 15px;*/
/*  text-align: left;*/
/*  margin-left: 7px;*/
/*}*/

/*.input-textbox {*/
/*  float: left;*/
/*  width: 7%;*/
/*  height: 100%;*/
/*  padding-top: 15px;*/
/*  padding-left: 5px;*/
/*  size: 5px;*/
/*}*/

/*.input-direction {*/
/*  float: left;*/
/*  width: 9%;*/
/*  !*width: 7%;*!*/
/*  height: 100%;*/
/*  padding-top: 5px;*/
/*}*/

/*.gravity-toggle {*/
/*  float: left;*/
/*  width: 15%;*/
/*  !*width: 12%;*!*/
/*  height: 100%;*/
/*  padding-top: 5px;*/
/*  padding-left: 5px;*/
/*}*/
/*.select-units {*/
/*  float: left;*/
/*  width: 15%;*/
/*  !*width: 10%;*!*/
/*  height: 100%;*/
/*  padding-top: 15px;*/
/*  padding-left: 5px;*/
/*}*/

/*.select-synthesis {*/
/*  float: left;*/
/*  width: 19%;*/
/*  height: 100%;*/
/*  padding-top: 15px;*/
/*  padding-left: 5px;*/
/*}*/
/*.show-linkage {*/
/*  float: left;*/
/*  width: 15%;*/
/*  height: 100%;*/
/*  padding-top: 15px;*/
/*  padding-left: 5px;*/
/*}*/
/*.select-connection {*/
/*  float: left;*/
/*  width: 17%;*/
/*  height: 100%;*/
/*  padding-top: 15px;*/
/*  padding-left: 5px;*/
/*}*/
/*.select-synthesis-display {*/
/*  float: left;*/
/*  width: 23%;*/
/*  height: 100%;*/
/*  padding-top: 15px;*/
/*  padding-left: 5px;*/
/*}*/

/*.synthesis-show {*/
/*  float: left;*/
/*  width: 20%;*/
/*  height: 100%;*/
/*  padding-top: 5px;*/
/*  padding-left: 5px;*/
/*}*/

/*.synthesis {*/
/*  float: left;*/
/*  width: 18%;*/
/*  height: 100%;*/
/*  padding-top: 5px;*/
/*  padding-left: 5px;*/
/*}*/

/*.save-input {*/
/*  float: left;*/
/*  width: 9%;*/
/*  height: 100%;*/
/*  padding-top: 15px;*/
/*}*/

/*.additional-setting-button {*/
/*  float: left;*/
/*  width: 24%;*/
/*  height: 100%;*/
/*  padding-top: 8px;*/
/*}*/

/*#EditUI {*/
/*  float: left;*/
/*  margin-top: 0;*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/

/*#EditLinkProp {*/
/*  float: left;*/
/*  margin-top: 0;*/
/*  height: 35px;*/
/*  font-size: 17px;*/
/*  top: 0;*/
/*}*/


/*.closeAnalysis {*/
/*  z-index: 2;*/
/*  position: absolute;*/
/*  left: 91%;*/
/*  top: 3%;*/
/*  !*top: 32px;*!*/
/*  width: 32px;*/
/*  height: 32px;*/
/*  opacity: 1;*/
/*  background-color: #dbdbdb;*/
/*}*/
/*.closeAnalysis:hover {*/
/*  opacity: 0.5;*/
/*}*/
/*.closeAnalysis:before, .closeAnalysis:after {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 15px;*/
/*  content: ' ';*/
/*  height: 33px;*/
/*  width: 2px;*/
/*  background-color: #333;*/
/*}*/
/*.closeAnalysis:before {*/
/*  transform: rotate(45deg);*/
/*}*/
/*.closeAnalysis:after {*/
/*  transform: rotate(-45deg);*/
/*}*/

/*.closeWindow {*/
/*  z-index: 2;*/
/*  position: absolute;*/
/*  left: 91%;*/
/*  top: 3%;*/
/*  !*top: 32px;*!*/
/*  width: 32px;*/
/*  height: 32px;*/
/*  opacity: 1;*/
/*  background-color: #dbdbdb;*/
/*}*/
/*.closeWindow:hover {*/
/*  opacity: 0.5;*/
/*}*/
/*.closeWindow:before, .closeWindow:after {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 15px;*/
/*  content: ' ';*/
/*  height: 33px;*/
/*  width: 2px;*/
/*  background-color: #333;*/
/*}*/
/*.closeWindow:before {*/
/*  transform: rotate(45deg);*/
/*}*/
/*.closeWindow:after {*/
/*  transform: rotate(-45deg);*/
/*}*/

/*.mat-tab-body-content {*/
/*  max-height: 600px;*/
/*}*/
/*!*#static_line_chart {*!*/
/*!*  min-height: 2000px;*!*/
/*!*}*!*/

/*!*#dynamic_line_chart {*!*/
/*!*  min-height: 2000px;*!*/
/*!*}*!*/

/*!*#kinematic_loop_line_chart {*!*/
/*!*  min-height: 2000px;*!*/
/*!*}*!*/

.navTabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 85px;
  position: relative;
  opacity: 1;
  border: 1px solid;
  overflow: visible;
  background-color: white;
  border-collapse: separate;
}

.navTabInput {
  display: none;
}

.navTabLabel {
  background: white;
  font-weight: lighter;
  border: 1px solid;
  text-align: center;
  width: 148px;
  height: 32px;
  font-family: Arial, sans-serif;
  font-size: 22px;
  cursor: pointer;
}


/*.navTabs input[type="radio"] {*/
/*  display: none;*/
/*}*/

/*.navTabs input[type="radio"] + label {*/
/*  background: white;*/
/*  font-weight: lighter;*/
/*  border: 1px solid;*/
/*  text-align: center;*/
/*  width: 148px;*/
/*  height: 32px;*/
/*  font-family: Arial, sans-serif;*/
/*  font-size: 22px;*/
/*  cursor: pointer;*/
/*}*/

.radioLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  /*margin-right: 10px;*/
}

.radioInput {
  display: none;
}

.radioDiv {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
  background: white;
}

.radioDiv::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: blue;
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.15s;
}

.radioInput:checked + .radioDiv::after {
  transform: scale(1);
}

.navTabs .tab {
  width: 100%;
  height: 50px;
  /*height: 100%;*/
  background: white;
  order: 1;
  display: none;
}

.navTabInput:hover:enabled + label {
  background: lightgray;
}

.navTabInput:checked + label + .tab {
  /*display: block;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  display: flex;
  align-items: center;
  background: #D9F2EF;
  border: 1px solid black;
}

/*.navTabInput:checked + label + .tab input[type="radio"] {*/
/*  display: block;*/
/*}*/

.navTabInput:checked + label {
  background: gray;
}

.navBar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
}
.pmksImage {
  width: 200px;
  height: 85px;
  cursor: pointer;
}

/*.navTabs input[type="radio"]:checked + label + .tab {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  background: #D9F2EF;*/
/*  border: 1px solid black;*/
/*}*/

/*.navtabs input[type="radio"]:checked + label + .tab div {*/
/*  background: purple;*/
/*  !*display: flex;*!*/
/*  !*flex-wrap: wrap;*!*/
/*  !*float: left;*!*/
/*}*/

.navTabs input[type="radio"]:checked + label + .tab button{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:20px;
  border:1px solid black;
  display: inline-grid;
  /*TODO: Determine how to set up the width without fixing length*/
  max-width: 200px;
  /*cursor:pointer;*/
  /*color: black;*/
  /*font-size:17px;*/
  /*padding:6px 24px;*/
  margin: 10px;
  text-decoration:none;
  font-family: Arial, sans-serif;
  /*font-family: Roboto,"Helvetica Neue",sans-serif;*/
  /*width: 35px;*/
  /*text-align: center;*/
  text-shadow:0px 1px 0px #ffffff;
  font-size: 17px;
  padding: 6px 24px;
  /*outline: none;*/
}
.navTabs input[type="radio"]:disabled + label {
  opacity: 25%;
  cursor: auto;
}
.navTabs input[type="radio"]:disabled + label + .tab {
  display: none;
}
