@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  #devModeColor {
    background-color: #EF9A9A;
  }

  .navBar {
    z-index: 2;
    @include mat.elevation(2);
    //Check here for 2nd parameter options: node_modules/@angular/material/core/theming/_palette.scss: Line 674
    // background-color: mat.get-color-from-palette($background,'raised-button');
    background-color: mat.get-color-from-palette($primary-palette, 50);

    position: absolute;
    display: flex;

    height: 50px;
    width: 100%;
    top: 0;
    left: 0;

    .mat-mdc-button-touch-target {
      height: 100% !important;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .mat-icon {
      vertical-align: middle;
      //color: mat.get-color-from-palette($foreground, 'icon');
    }

    .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    button {
      @include mat.typography-level($typography-config, 'body-2');
      height: 100% !important;
    }

    img {
      margin-left: 5px;
    }
  }
}
