<div id='dual-input-block'>
  <div class='row'>
    <span class='label'><ng-content></ng-content></span>
    <mat-icon matTooltip='{{ this.tooltip }}' [matTooltipShowDelay]='1000' class='label-help'
    >help_outline
    </mat-icon
    >
    <div class='spacer'></div>
  </div>
  <div class='row' [formGroup]='formGroup'>

    <span class='label'>{{label1}}</span>
    <mat-form-field class='customInputForm' (click)='field1.select()'>
      <input class='customInput' matInput type='text' #field1
             (keyup.enter)='field1.blur()'
             [formControlName]='this.formControl1'>
    </mat-form-field>

    <div class='spacer'></div>
    <span class='label' style='{{label2 === "⊾" ? "font-size: 25px; padding-bottom: 5px" : ""}}'>{{label2}}</span>
    <mat-form-field class='customInputForm' (click)='field2.select()'>
      <input class='customInput' matInput type='text' #field2
             (keyup.enter)='field2.blur()'
             [formControlName]='this.formControl2'>
    </mat-form-field>

    <!--    <span class="label">X</span>-->
    <!--    <input-->
    <!--      id="block-input-box"-->
    <!--      type="text"-->
    <!--      [formControlName]="this.formControl1"-->
    <!--      #field-->
    <!--      (keyup.enter)="field.blur()"-->
    <!--    />-->
    <!--    &lt;!&ndash; <span id="block-input-units">{{ this.unit }}</span> &ndash;&gt;-->
    <!--    <div class="spacer"></div>-->
    <!--    <span class="label">Y</span>-->
    <!--    <input-->
    <!--      id="block-input-box"-->
    <!--      type="text"-->
    <!--      [formControlName]="this.formControl2"-->
    <!--      #field2-->
    <!--      (keyup.enter)="field2.blur()"-->
    <!--    />-->
    <!-- <span id="block-input-units">{{ this.unit }}</span> -->
  </div>
</div>
