@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  #speedButton {
    font-weight: bold;
    font-size: 20px;
  }

  #barContainer {
    //Fix to the bottom left, make the it cover the entire width of the screen but give it a height of 50px. Use flex to center animation bar in the middle botttom.
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    gap: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;

    #viewButtons {
      pointer-events: auto;
      margin: 10px 0;
      margin-right: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      // width: 400px;
      border-radius: var(--border-radius);
      //Set the elevation of the animation bar to 2.
      @include mat.elevation(2);
      //Set the background color of the animation bar to the background color of the raised button.
      background-color: white;
    }

    #animationBar {
      height: 48px;
      pointer-events: auto;
      margin: 10px 0;
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      // width: 400px;
      border-radius: var(--border-radius);
      //Set the elevation of the animation bar to 2.
      @include mat.elevation(2);
      //Set the background color of the animation bar to the background color of the raised button.
      background-color: white;

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }

      #timeInputWrapper {
        display: flex;
        font-size: 20px;
        font-weight: 200;
        align-items: baseline;
        // @include mat.typography-level($typography-config, 'headline-6');
        #tLabel {
          margin-right: 10px;
        }

        #secLabel {
        }
      }

      #animationBar-input {
        font-size: 20px;
        font-weight: 200;
        width: 40px;
        border: 0;
        outline: none;
        background-color: mat.get-color-from-palette($primary-palette, 50);
        border-radius: var(--border-radius);
        padding: 5px;
        //When the input is focused
        &:focus {
          margin-bottom: 0;
          background-color: mat.get-color-from-palette($primary-palette, 100);
          //add a bottom border
          border-bottom: 2px solid mat.get-color-from-palette($primary-palette, 500);
          //no more roudned corners in for the bottom
          border-radius: var(--border-radius) var(--border-radius) 0 0;
        }
      }

      mat-slider {
        margin-left: 15px;
        width: 30vw;
      }
    }
  }
}