button{
  outline: 0;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* h1{
  text-align: left;
}
p{
  text-align: left;
}
div{
  text-align: left;
} */

#animationBtns{
  display: flex;
  flex-direction: row;
}
#toolkit{
  position: absolute;
  bottom: 30px;
  left: 20%;
  display: flex;
  flex-direction: row;
}
#clockwise{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  border: 0px;
  border-radius: 100%;
  background: url("~src/assets/CWArrow.svg") no-repeat;
}
#counterclockwise{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  border: 0px;
  border-radius: 100%;
  background: url("~src/assets/CCWArrow.svg") no-repeat;
}
#fastspeed{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  border: 0px;
  border-radius: 100%;
  background: url("~src/assets/fast.svg") no-repeat;
}
#slowspeed{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  border: 0px;
  border-radius: 100%;
  background: url("~src/assets/slow.svg") no-repeat;
}
#mediumspeed{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  border: 0px;
  border-radius: 100%;
  background: url("~src/assets/medium.svg") no-repeat;
}

#playBtn{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  border: 0px;
  border-radius: 100%;
  background: white url("~src/assets/play.svg") ;
}
#pauseBtn{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  border: 0px;
  border-radius: 100%;
  background: white url("~src/assets/pause.svg") ;
}
#stopBtn{
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
  display:block;
  height: 64px;
  width: 64px;
  float: right;
  border: 0px;
  border-radius: 100%;
  background: white url("~src/assets/reset.svg") no-repeat;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /*padding: 5px 0;*/
  font-size: 16px;
  position: absolute;
  font-family: Arial, serif;
  z-index: 1;
  top: 90%;
  left: 60%;
  margin-left: -60px;

  /* Position the tooltip */
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay:1s;
}

#animationBar {
  /*display: flex;*/
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*flex: auto;*/
  /*margin: auto;*/
  /*display: flex;*/
}

#sliderContainer {
  margin-left: 2px;
  margin-right: 2px;
  flex: 1;
  display: flex;

}

#slider {
  margin: auto;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  /* position: relative; */
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}
#speedDirections{
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  right: 160px;
  width: 120px;
  display: flex;
  flex-direction: column;
}
#speedLabel {
  font-size: 15px;
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 120px;
  z-index: 2;
}
#xPos {
  font-size: 100%;
}
#yPos {
  font-size: 100%;
}
#btnDOF{
  font-size: 100%;
}
#clearCanvas{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/clearCanvas.svg") no-repeat;
}
#zoomReset{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/home.svg") no-repeat;
}
#zoomIn{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/zoomIn.svg") no-repeat;
}
#zoomOut{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/zoomOut.svg") no-repeat;
}
#showCoM{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/centerOfMass.svg") no-repeat;
}
#showCoMOn{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/centerOfMass.svg") no-repeat;
}
#showID{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/info.svg") no-repeat;
}

#showIDOn{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 100%;
  background: url("~src/assets/info.svg") no-repeat;
}

#recenter{
  margin-left: 2px;
  margin-right: 2px;
  z-index: 1000;
  width: 32px;
  height: 32px;
}

#gridActionContainer {
  display: flex;
  flex-direction: row;
}


#dofWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: Arial, serif;
  width: 120px;
  height: 50px;
  color: black;
  border: 1px solid #AAA;
  background: #D1D1D1;
  margin-left: 2px;
  margin-right: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
}

#currentPos{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 120px;
  height: 50px;
  color: black;
  font-size: 25px;
  border: 1px solid #AAA;
  background: #D1D1D1;
  margin-left: 2px;
  margin-right: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
}
