<div id='toggle-block'>
  <div [formGroup]='this.formGroup' class='row'>
    <!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" [formControlName]="this._formControl" /> -->
    <span class='label'><ng-content></ng-content></span>
    <mat-icon *ngIf='!addInput' matTooltip='{{ this.tooltip }}' [matTooltipShowDelay]='1000' class='label-help'
    >help_outline
    </mat-icon
    >
    <div class='spacer'></div>
    <span class='label' *ngIf='addInput' style='font-size: 25px; padding-bottom: 5px'>⊾</span>
    <mat-form-field *ngIf='addInput' class='customInputForm'>
      <input class='customInput' matInput type='text' #field (keyup.enter)='field.blur()'
             [formControlName]='this._formControlForInput'>
    </mat-form-field>
    <div class='spacer'></div>
    <mat-slide-toggle color='primary' [formControlName]='this._formControl'></mat-slide-toggle>
  </div>
</div>
