@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .row {
    display: flex;
    align-items: center;

    .label {
      font-size: 14px;
      font-weight: 200;
    }

    .label-help {
      margin-left: 5px;
      transform: scale(0.65);
      color: mat.get-color-from-palette($foreground, 'icon');
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}
