<div id="templatesPopup" class="ontop">
  <div class="popupTemplates" style="border-style: solid; border-width: 10px">
    <div style="margin: 4px 4px; padding: 4px; width: 500px; height: 500px; overflow-x: hidden;
     overflow-y:auto; text-align: justify"> Example Mechanisms
      <div class="buttonContainer">
        <button class="closeTemplates" (click)="closeTemplates()"
                (mouseover)="mouseOver(99999)"
                (mouseout)="mouseOut(99999)">X</button>
        <button class="secondaryButtons" (click)="openLinkage('4-Bar')"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)">4-Bar Linkage</button>
        <br>
        <button class="secondaryButtons" (click)="openLinkage('Watt_I')"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)">Watt I Linkage</button>
        <br>
        <button class="secondaryButtons" (click)="openLinkage('Watt_II')"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)">Watt II Linkage</button>
        <br>
        <button class="secondaryButtons" (click)="openLinkage('Stephenson_I')"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)">Stephenson I Linkage</button>
        <br>
        <button class="secondaryButtons" (click)="openLinkage('Stephenson_III')"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)">Stephenson III Linkage</button>
        <br>
        <button class="secondaryButtons" (click)="openLinkage('Slider_Crank')"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)">Slider Crank</button>
        <br>
        <button class="secondaryButtons" (click)="openLinkage('Force')"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)">4-Bar with Force</button>
      </div>
      <!-- TODO: After doing bunch of other stuff, showcase mechanism when mouse hovers over button -->
<!--      <div *ngFor="let link of getLinks()">-->
<!--        <svg [attr.height]="getLinkProp(link, 'height')" [attr.width]="getLinkProp(link, 'width')"-->
<!--             style="transform: scaleY(-1);display: none; margin: auto">-->
<!--          &lt;!&ndash; TODO: Make sure scale works accordingly &ndash;&gt;-->
<!--          <g [attr.transform]="getLinkProp(link, 'transform')"-->
<!--             [attr.height]="getLinkProp(link, 'height')" [attr.width]="getLinkProp(link, 'width')">-->
<!--            <path-->
<!--              [attr.d]="getLinkProp(link, 'd')" [attr.id]="link.id"-->
<!--              [attr.fill]="getLinkProp(link, 'fill')">-->
<!--            </path>-->
<!--            &lt;!&ndash; TODO: Determine logic when the link shape is too big to showcase &ndash;&gt;-->
<!--            <circle *ngFor="let joint of link.joints" [attr.r]="getJointProp(joint, 'r')"-->
<!--                    [attr.cx]="joint.x" [attr.cy]="joint.y" fill="black"/>-->
<!--            <circle *ngFor="let joint of link.joints" [attr.r]="getJointProp(joint, 'ring')"-->
<!--                    [attr.cx]="joint.x" [attr.cy]="joint.y" fill="gray"/>-->
<!--            <svg *ngFor="let joint of link.joints" [attr.x]="joint.x - 0.3" [attr.y]="joint.y + 0.3"-->
<!--                 style="font-size: 1px; text-anchor: middle; overflow: visible;">-->
<!--              <text style="font-size: 0.7px; text-anchor: middle; transform: scaleY(-1)"> {{joint.id}}</text>-->
<!--            </svg>-->
<!--            <g *ngFor="let force of link.forces">-->
<!--              <g [attr.id]="force.id">-->
<!--                <path [attr.d]="force.forceLine" [attr.stroke]="force.stroke" stroke-width="0.04"></path>-->
<!--                <path [attr.d]="force.forceArrow" [attr.fill]="force.fill"></path>-->
<!--              </g>-->
<!--              <svg [attr.x]="(force.startCoord.x + force.endCoord.x) / 2"-->
<!--                   [attr.y]="(force.startCoord.y + force.endCoord.y) / 2"-->
<!--                   style="font-size: 1px; text-anchor: middle; overflow: visible">-->
<!--                <text style="font-size: 0.7px; text-anchor: middle; transform: scaleY(-1)">{{force.id}}</text>-->
<!--              </svg>-->
<!--            </g>-->
<!--          </g>-->
<!--        </svg>-->
<!--      </div>-->
    </div>
  </div>
</div>
