.ontop {
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: rgba(204,204,204,0.8);
  color: #aaaaaa;
  text-align: center;
  font-size: 32px;
}

.popupTemplates{
  /*width: 450px;*/
  /*height: 500px;*/
  width: 700px;
  height: 600px;
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  /* To align popup window at the center of screen*/
  top: 15%;
  left: 30%;
  /*margin-top: -100px;*/
  /*margin-left: -150px;*/
}

.closeTemplates {
  z-index: 2;
  position: absolute;
  left: 91%;
  top: 3%;
  /*top: 32px;*/
  width: 32px;
  height: 32px;
  opacity: 1;
  background-color: #dbdbdb;
}

.secondaryButtons {
  -moz-box-shadow:inset 0 1px 0 0 #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:20px;
  border:1px solid black;
  display:inline-block;
  cursor:pointer;
  color: black;
  font-size:17px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin: 8px 7px;
  outline: none;
}
.secondaryButtons:hover {
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#AAAAAA;
}
.secondaryButtons:active {
  position:relative;
  top:1px;
}
