<div id='editable-title-block'>
  <div *ngIf='!editMode' class='editModeRow'>
    <ng-container *ngTemplateOutlet='contentTpl'></ng-container>
    {{activeObjService.getSelectedObj().name}}
    <button id='title-icon-button' mat-icon-button (click)='gotoEditMode()' matTooltip='Edit the name of this object.'
            [matTooltipShowDelay]='1000' matTooltipPosition='above'>
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div *ngIf='editMode' class='editModeRow' [formGroup]='newIDForm'>
    <ng-container *ngTemplateOutlet='contentTpl'></ng-container>
    <input id='title-input-box' type='text' formControlName='newID' (keyup.enter)='saveNewID()'
           (keyup.escape)='exitEditModeWithoutSaving()' appPrefixFocusAndSelect />
    <button id='title-icon-button' mat-icon-button color='primary' (click)='saveNewID()'
            matTooltip='Save this name. Escape to cancel.'
            [matTooltipShowDelay]='1000' matTooltipPosition='above'>
      <mat-icon>check</mat-icon>
    </button>
  </div>
  <p id='title-description' *ngIf='description'>{{ description }}</p>
</div>

<ng-template #contentTpl>
  <ng-content></ng-content>
</ng-template>