.ontop {
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: rgba(204, 204, 204, 0.8);
  color: #aaaaaa;
  text-align: center;
  font-size: 32px;
}

.popupWindow {
  width: 800px;
  height: 800px;
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  top: 7%;
  left: 24%;
}

.popupAnalysis {
  /*width: 450px;*/
  /*height: 500px;*/
  width: 550px;
  height: 600px;
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  /* To align popup window at the center of screen*/
  top: 15%;
  left: 34%;
  /*margin-top: -100px;*/
  /*margin-left: -150px;*/
}

.closeAnalysis {
  z-index: 2;
  position: absolute;
  left: 91%;
  top: 3%;
  /*top: 32px;*/
  width: 32px;
  height: 32px;
  opacity: 1;
  background-color: #dbdbdb;
}
/*.closeAnalysis:hover {*/
/*  opacity: 0.5;*/
/*}*/
/*.closeAnalysis:before, .closeAnalysis:after {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 15px;*/
/*  content: ' ';*/
/*  height: 33px;*/
/*  width: 2px;*/
/*  background-color: #333;*/
/*}*/
/*.closeAnalysis:before {*/
/*  transform: rotate(45deg);*/
/*}*/
/*.closeAnalysis:after {*/
/*  transform: rotate(-45deg);*/
/*}*/

.closeWindow {
  z-index: 2;
  position: absolute;
  left: 91%;
  top: 3%;
  /*top: 32px;*/
  width: 32px;
  height: 32px;
  opacity: 1;
  background-color: #dbdbdb;
}
/*.closeWindow:hover {*/
/*  opacity: 0.5;*/
/*}*/
/*.closeWindow:before, .closeWindow:after {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 15px;*/
/*  content: ' ';*/
/*  height: 33px;*/
/*  width: 2px;*/
/*  background-color: #333;*/
/*}*/
/*.closeWindow:before {*/
/*  transform: rotate(45deg);*/
/*}*/
/*.closeWindow:after {*/
/*  transform: rotate(-45deg);*/
/*}*/
