<div id="analysisPopup" class="ontop">
  <div class="popupAnalysis">
    <div>
      <div class="buttonContainer">
        <button class="closeAnalysis" (click)="closeAnalysis()"
                (mouseover)="mouseOver(99999)"
                (mouseout)="mouseOut(99999)"></button>
        <button id="exportButton" (click)="setTab(0)"
                (mouseover)="mouseOver(0)"
                (mouseout)="mouseOut(0)"
                style="color: black; background-color: gray"> Export </button>
        <button id="showPlotsButton" (click)="setTab(1)"
                (mouseover)="mouseOver(1)"
                (mouseout)="mouseOut(1)"> Plots Charts</button>
        <button id="showEqsButton" (click)="setTab(2)"
                (mouseover)="mouseOver(2)"
                (mouseout)="mouseOut(2)"> Show Eqns </button>
      </div>
    </div>
    <div class="tabPanel" *ngIf="getSelectedTab() === 0">
      <div *ngIf="getSelectedAnalysis() === 'loop'">
        <div>
          <input type="checkbox" value="requiredLoopCheck" (change)="setOption($event)" [checked]="requiredLoopCheck">
          <label>
            Required Loops
          </label>
        </div>
        <div>
          <input type="checkbox" value="allLoopCheck" (change)="setOption($event)" [checked]="allLoopCheck">
          <label>
            All Loops
          </label>
        </div>
        <div>
          <button class="secondaryButtons" (click)="exportExcel('loops')">Export
            Data on the Selected Analysis
          </button>
        </div>
      </div>
      <div *ngIf="getSelectedAnalysis() === 'force'">
        <div>
          <input type="checkbox" value="staticForcesCheck" (change)="setOption($event)" [checked]="staticForcesCheck">
          <label>
            Forces
          </label>
        </div>
        <div>
          <input type="checkbox" value="staticTorqueCheck" (change)="setOption($event)" [checked]="staticTorqueCheck">
          <label>
            Torque
          </label>
        </div>
        <div>
          <input type="checkbox" value="staticForcePositionsCheck" (change)="setOption($event)" [checked]="staticForcePositionsCheck">
          <label>
            Force Positions
          </label>
        </div>
        <div>
          <input type="checkbox" value="staticJointPositionsCheck" (change)="setOption($event)" [checked]="staticJointPositionsCheck">
          <label>
            Joint Positions
          </label>
        </div>
        <div>
          <button class="secondaryButtons" (click)="exportExcel('statics')">Export
            Data on the Selected Analysis
          </button>
        </div>
      </div>
      <div *ngIf="getSelectedAnalysis() === 'stress'">
        <!-- TODO: Do this once this is determined -->
      </div>
      <div *ngIf="getSelectedAnalysis() === 'kinematic'">
        <div>
          <input type="checkbox" value="linKinJointCheck" (change)="setOption($event)" [checked]="linKinJointCheck">
          <label>
            Linear Kinematics at Joint
          </label>
        </div>
        <div *ngIf="this.linKinJointCheck">
          <input type="checkbox" value="linKinJointPos" (change)="setOption($event)" [checked]="linKinJointPos">
          <label>Position</label>
        </div>
        <div *ngIf="this.linKinJointCheck">
          <input type="checkbox" value="linKinJointVel" (change)="setOption($event)" [checked]="linKinJointVel">
          <label>Velocity</label>
        </div>
        <div *ngIf="this.linKinJointCheck">
          <input type="checkbox" value="linKinJointAcc" (change)="setOption($event)" [checked]="linKinJointAcc">
          <label>Acceleration</label>
        </div>
        <div>
          <input type="checkbox" value="linKinLinkCheck" (change)="setOption($event)" [checked]="linKinLinkCheck">
          <label>
            Linear Kinematics at Link (Center of Mass)
          </label>
        </div>
        <div *ngIf="this.linKinLinkCheck">
          <input type="checkbox" value="linKinLinkPos" (change)="setOption($event)" [checked]="linKinLinkPos">
          <label>Position</label>
        </div>
        <div *ngIf="this.linKinLinkCheck">
          <input type="checkbox" value="linKinLinkVel" (change)="setOption($event)" [checked]="linKinLinkVel">
          <label>Velocity</label>
        </div>
        <div *ngIf="this.linKinLinkCheck">
          <input type="checkbox" value="linKinLinkAcc" (change)="setOption($event)" [checked]="linKinLinkAcc">
          <label>Acceleration</label>
        </div>
        <div>
          <input type="checkbox" value="angKinLinkCheck" (change)="setOption($event)" [checked]="angKinLinkCheck">
          <label>
            Angular Kinematics at Link
          </label>
        </div>
        <div *ngIf="this.angKinLinkCheck">
          <input type="checkbox" value="angKinLinkPos" (change)="setOption($event)" [checked]="angKinLinkPos">
          <label>Position</label>
        </div>
        <div *ngIf="this.angKinLinkCheck">
          <input type="checkbox" value="angKinLinkVel" (change)="setOption($event)" [checked]="angKinLinkVel">
          <label>Velocity</label>
        </div>
        <div *ngIf="this.angKinLinkCheck">
          <input type="checkbox" value="angKinLinkAcc" (change)="setOption($event)" [checked]="angKinLinkAcc">
          <label>Acceleration</label>
        </div>
        <div>
          <button class="secondaryButtons" (click)="exportExcel('kinematics_loops')">Export
            Data on the Selected Analysis
          </button>
        </div>
      </div>
      <div *ngIf="getSelectedAnalysis() === 'ic'">
        <div>
          <input type="checkbox">
          <label>
            Position of ICs
          </label>
        </div>
        <div>
          <input type="checkbox" value="linKinJointICCheck" (change)="setOption($event)" [checked]="linKinJointICCheck">
          <label>
            Linear Kinematics at Joint
          </label>
        </div>
        <div *ngIf="this.linKinJointICCheck">
          <input type="checkbox" value="linKinJointICPos" (change)="setOption($event)" [checked]="linKinJointICPos">
          <label>Position</label>
        </div>
        <div *ngIf="this.linKinJointICCheck">
          <input type="checkbox" value="linKinJointICVel" (change)="setOption($event)" [checked]="linKinJointICVel">
          <label>Velocity</label>
        </div>
        <div>
          <input type="checkbox" value="angKinLinkICCheck" (change)="setOption($event)" [checked]=angKinLinkICCheck>
          <label>
            Angular Kinematics at Link
          </label>
        </div>
        <div *ngIf="this.angKinLinkICCheck">
          <input type="checkbox" value="angKinLinkICVel" (change)="setOption($event)" [checked]="angKinLinkICVel">
          <label>Velocity</label>
        </div>
        <div>
          <button class="secondaryButtons" (click)="exportExcel('ics')">Export
            Data on the Selected Analysis
          </button>
        </div>
      </div>
    </div>
    <div class="tabPanel" *ngIf="getSelectedTab() === 1">
      <table id="plotTable">
        <thead>
        <tr>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
          </td>
        </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    <div class="tabPanel" *ngIf="getSelectedTab() === 2">
      <div *ngIf="getSelectedAnalysis() === 'loop'">

      </div>
      <div *ngIf="getSelectedAnalysis() === 'force'"
           style="margin: 4px 4px; padding: 4px; width: 500px; height: 500px; overflow-x: hidden; overflow-y:auto; text-align: justify">
        <div id="div_{{link.id}}" *ngFor="let link of getLinks()"
             style="margin: 4px; padding: 4px; height: 50px; width: 500px; overflow: scroll; text-align: justify; display: block">
          <input type="checkbox" id="checkbox_{{link.id}}" (click)="updateTable('changeHeight', link)"
                 style="display: block; float: left">
          <label>Link {{link.id}}</label>
          <svg [attr.height]="getLinkProp(link, 'height')" [attr.width]="getLinkProp(link, 'width')"
               style="transform: scaleY(-1);display: none">
            <!-- TODO: Make sure scale works accordingly -->
            <g [attr.transform]="getLinkProp(link, 'transform')"
               [attr.height]="getLinkProp(link, 'height')" [attr.width]="getLinkProp(link, 'width')">
              <path
                [attr.d]="getLinkProp(link, 'd')" [attr.id]="link.id"
                [attr.fill]="getLinkProp(link, 'fill')">
              </path>
              <!-- TODO: Determine logic when the link shape is too big to showcase -->
              <circle *ngFor="let joint of link.joints" [attr.r]="getJointProp(joint, 'r')"
                      [attr.cx]="joint.x" [attr.cy]="joint.y" fill="black"/>
              <circle *ngFor="let joint of link.joints" [attr.r]="getJointProp(joint, 'ring')"
                      [attr.cx]="joint.x" [attr.cy]="joint.y" fill="gray"/>
              <svg *ngFor="let joint of link.joints" [attr.x]="joint.x - 0.3" [attr.y]="joint.y + 0.3">
                <text style="font-size: 0.7px; text-anchor: middle; transform: scaleY(-1)"> {{joint.id}}</text>
              </svg>
              <g *ngFor="let joint of link.joints">
                <!-- TODO: Have ngIf for when condition met -->
                <path *ngIf="getForceAssumption(link, joint, 'x') === 1"
                      [attr.d]="getForceLine(joint, 'pos', 'x')" stroke="black" stroke-width="0.04">
                </path>
                <path *ngIf="getForceAssumption(link, joint, 'x') === -1"
                      [attr.d]="getForceLine(joint, 'neg', 'x')" stroke="black" stroke-width="0.04">
                </path>
                <path  *ngIf="getForceAssumption(link, joint, 'y') === 1"
                       [attr.d]="getForceLine(joint, 'pos', 'y')" stroke="black" stroke-width="0.04">
                </path>
                <path  *ngIf="getForceAssumption(link, joint, 'y') === -1"
                       [attr.d]="getForceLine(joint, 'neg', 'y')" stroke="black" stroke-width="0.04">
                </path>
                <path *ngIf="getForceAssumption(link, joint, 'x') === 1"
                      [attr.d]="getForceArrow(joint, 'pos', 'x')" stroke="black" stroke-width="0.04">
                </path>
                <path *ngIf="getForceAssumption(link, joint, 'x') === -1"
                      [attr.d]="getForceArrow(joint, 'neg', 'x')" stroke="black" stroke-width="0.04">
                </path>
                <path   *ngIf="getForceAssumption(link, joint, 'y') === 1"
                        [attr.d]="getForceArrow(joint, 'pos', 'y')" stroke="black" stroke-width="0.04">
                </path>
                <path   *ngIf="getForceAssumption(link, joint, 'y') === -1"
                        [attr.d]="getForceArrow(joint, 'neg', 'y')" stroke="black" stroke-width="0.04">
                </path>
              </g>
            </g>
          </svg>
          <div *ngFor="let joint of link.joints" style="display: none">
            <input type="checkbox" (click)="updateTable('x', link, joint)" [checked]="getForceAssumption(link, joint, 'x') === 1">
            <label>Direction of Force {{joint.id}}x</label>
            <br>
            <input type="checkbox" (click)="updateTable('y', link, joint)" [checked]="getForceAssumption(link, joint, 'y') === 1">
            <label>Direction of Force {{joint.id}}y</label>
            <br>
          </div>
          <div style="display: none">
            <label>Moment reference</label>
            <select>
              <option *ngFor="let joint of getJoints()" [innerHTML]="joint.id">
              </option>
            </select>
          </div>
          <div style="display: none">
            &sum;F
            <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
            = 0
            <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
            <br>
          </div>
          <div style="display: none">
            <span *ngFor="let joint of link.joints; let indexOfElement=index">
              <span *ngIf="indexOfElement !== 0" >
                +
              </span>
              F
              <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
              <sub>{{joint.id}}</sub>
            </span>
            = 0
            <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
            <br>
          </div>
          <div style="display: none">
            <span *ngFor="let joint of link.joints; let indexOfElement=index">
              <span *ngIf="indexOfElement !== 0 && getForceAssumption(link, joint, 'x') === 1">
                +
              </span>
              <span *ngIf="getForceAssumption(link, joint, 'x') !== 1">
                -
              </span>
              F
              <sub>{{joint.id}}x</sub>
            </span>
            = 0
            <br>
          </div>
          <div style="display: none">
            <span *ngFor="let joint of link.joints; let indexOfElement=index">
              <span *ngIf="indexOfElement !== 0 && getForceAssumption(link, joint, 'y') === 1">
                +
              </span>
              <span *ngIf="getForceAssumption(link, joint, 'y') !== 1">
                -
              </span>
              F
              <sub>{{joint.id}}y</sub>
            </span>
            = 0
            <br>
          </div>
          <hr style="border-color: blue; display: none;">
          <div style="display: none">
            &sum;M
            <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
            = 0
            <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
            <br>
          </div>
          <div style="display: none">
            <span *ngFor="let joint of link.joints; let indexOfElement=index">
              <span *ngIf="joint.id !== getLinkFixedJoint(link)">
                {{getMomentSignEqs(joint, link)}} R
                <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
                <sub>{{getLinkFixedJoint(link)}}-{{joint.id}}</sub>
                X F
                <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
                <sub>{{joint.id}}</sub>
              </span>
            </span>
            <span>
              + T
              <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
            </span>
            <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
            = 0
            <span [innerHTML]="'\u20d7'" style="vertical-align: 8px"></span>
          </div>
          <div style="display: none">
            <span *ngFor="let joint of link.joints; let indexOfElement=index">
              <span *ngIf="joint.id !== getLinkFixedJoint(link)">
                {{getMoment(joint, link, 'x')}}F
                <sub>{{joint.id}}x</sub>
                {{getMoment(joint, link, 'y')}}F
                <sub>{{joint.id}}y</sub>
              </span>
            </span>
            = 0
          </div>
        </div>
      </div>
      <div *ngIf="getSelectedAnalysis() === 'stress'">

      </div>
      <div *ngIf="getSelectedAnalysis() === 'kinematic'">

      </div>
      <div *ngIf="getSelectedAnalysis() === 'ic'">

      </div>
    </div>
  </div>
</div>
