<div id="shape-selector" *ngIf="getShowcaseShapeSelector()">
  <p id="shape-selector-title">Select shapes</p>
  <div id="shape-selector-wrapper">
    <table id="shape-selector-table">
      <tr *ngFor="let shape of shapes">
        <td style="height: 120px; border-bottom: 1px solid black; text-align: center" class="shape-on-wrapper">
          <img src="{{ getURL(shape) }}" (click)="changeShape(shape)" />
        </td>
      </tr>
    </table>
  </div>
  <div id="button-wrapper">
    <button class="secondary-buttons" (click)="save()">Save</button>
    <button class="secondary-buttons" (click)="cancel()">Cancel</button>
    <button class="secondary-buttons" (click)="revert()">Revert</button>
  </div>
</div>
