@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  #analysis-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mat-expansion-panel-header-title {
      flex-grow: 0;
      flex-basis: auto;
    }

    .mat-expansion-panel-body {
      padding: 0 10px;
      // height: 230px;
      // padding-bottom: -100px !important;
    }

    .apexcharts-legend-marker {
      width: 24px;
      height: 24px;
    }

    .apexcharts-canvas {
      // z-index: 0;
      // pointer-events: none;
    }

    #testBox {
      position: absolute;
      background-color: red;
      opacity: 1;
      width: 300px;
      height: 200px;
      margin-top: -300px;
      z-index: 99;
    }

    #graph-checkbox-list {
      position: absolute;
      display: flex;
      width: 350px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 4px;
      // padding-right: 20px;
      margin-top: -10px;
      // margin-bottom: -25px;
      // background-color: blue;
      z-index: 99;
    }

    // .mat-expansion-panel-header-description {
    //   justify-content: space-between;
    //   align-items: center;
    // }
  }
}
