<div id="analysis-panel">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title> Angle of Joint B </mat-panel-title>
      <mat-panel-description>
        <mat-icon matTooltip="test tooltip!" [matTooltipShowDelay]="1000">help</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div id="graph-checkbox-list">
      <mat-checkbox checked (change)="toggleSeries('Magnitude')">Magnitude</mat-checkbox>
      <mat-checkbox checked (change)="toggleSeries('X')" color="primary">X Comp</mat-checkbox>
      <mat-checkbox checked (change)="toggleSeries('Y')" color="warn">Y Comp</mat-checkbox>
    </div>
    <apx-chart
      #chart
      [series]="chartOptions.series!"
      [annotations]="chartOptions.annotations!"
      [chart]="chartOptions.chart"
      [colors]="chartOptions.colors"
      [yaxis]="chartOptions.yaxis!"
      [dataLabels]="chartOptions.dataLabels!"
      [markers]="chartOptions.markers!"
      [stroke]="chartOptions.stroke!"
      [grid]="chartOptions.grid"
      [xaxis]="chartOptions.xaxis!"
      [tooltip]="chartOptions.tooltip!"
      [legend]="chartOptions.legend!"
    >
    </apx-chart>
    <!-- <div id="testBox">Test Box</div> -->
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Angular Velocity of Joint B </mat-panel-title>
      <mat-panel-description>
        <mat-icon matTooltip="test tooltip!" [matTooltipShowDelay]="1000" svgIcon="com"></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Angular Acceleration of Joint B </mat-panel-title>
      <mat-panel-description>
        <mat-icon matTooltip="test tooltip!" [matTooltipShowDelay]="1000">help_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
