<div class="editPanel">
<panel-section>
    <title-block icon="edit" buttonLabel="test">Title Label</title-block>
    <input-block unit="cm" placeholder="Enter" tooltip="Tooltip Info">Input Label</input-block>
    <input-block unit="cm" placeholder="Enter" tooltip="Tooltip Info">Input Label</input-block>
    <button-block icon="delete">Button Label</button-block>
</panel-section>

<panel-section-collapsible>
    <title-block alwaysShown icon="expand_less">Collapsable Section</title-block>
    <input-block unit="cm" placeholder="Enter" tooltip="Tooltip Info">Input Label</input-block>
    <input-block unit="cm" placeholder="Enter" tooltip="Tooltip Info">Input Label</input-block>
    <button-block icon="edit">Button Label</button-block>
</panel-section-collapsible>
</div>