<div id='equationWrapper'>
  <panel-section>
    <app-not-ready-warning></app-not-ready-warning>
    <title-block
      description='These equations allow you to solve for the position. velocity, acceleration, and forces for the entire linkage simultaneously. You first need to select loop(s) that provide enough equations to solve for each unknown value. '>
      Mechanism Equations
    </title-block>
    <collapsible-subseciton title='Loop Selection' [expanded]='true'>
      <img src='assets/placeholder.png' alt='placeholder'>
    </collapsible-subseciton>
    <collapsible-subseciton title='Position'>
    </collapsible-subseciton>
    <collapsible-subseciton title='Velocity' [expanded]='true'>
      <img src='assets/placeholder2.png' alt='placeholder'>
    </collapsible-subseciton>
    <collapsible-subseciton title='Acceleration'>
    </collapsible-subseciton>
    <collapsible-subseciton title='Forces (Static)' [expanded]='true'>
      <img src='assets/placeholder3.png' alt='placeholder'>
    </collapsible-subseciton>
    <collapsible-subseciton title='Forces (Dynamic)'>
    </collapsible-subseciton>
  </panel-section>
</div>