#forcesDialog {
  .dialogImage {
    height: 70vh;
    padding-left: 24px;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;

  }
}