@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $typography-config: mat.get-typography-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .fade-in-out {
    opacity: 0;
    transition: 0.15s ease-in-out;
    scale: 0.5;
    transform-origin: top left;
  }

  .fade-in-out.show {
    opacity: 1;
    scale: 1;
  }

  #contextMenu {
    pointer-events: all !important;
    @include mat.elevation(5);
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 0;
    border-radius: var(--border-radius);

    #menu-item {

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #eeeeee;
      }

      padding: 0 5px;

      cursor: pointer;
      border: none;
      align-items: center;
      user-select: none;
      display: flex;
      flex-direction: row;

      button {
        user-select: none;
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 0;
        margin-left: 5px;
        margin-right: 20px;
        @include mat.typography-level($typography-config, 'subtitle-2');
      }

      mat-icon {
        padding: 2px;
        //scale: 0.75;

      }
    }
  }


}