<div id='contextMenu' cdkMenu>
  <div id='menu-item' cdkMenuItem>
    <mat-icon>save</mat-icon>
    <button>Save</button>
  </div>
  <div id='menu-item' cdkMenuItem>
    <mat-icon>edit</mat-icon>
    <button>Edit Something Longer</button>
  </div>
  <div id='menu-item' cdkMenuItem>
    <mat-icon>file_open</mat-icon>
    <button>Loading or Switch</button>
  </div>
  <!--  <button class='example-menu-item' cdkMenuItem>Copy</button>-->
  <!--  <button class='example-menu-item' cdkMenuItem>Link</button>-->
</div>