<div id='synthesisWrapper'>
    <panel-section>
        <title-block description='PMKS+ will create a 4-bar linkage based on 3 coupler poses you define.'>
            3 Position
            Synthesis
        </title-block>
        <!--    <subtitle-block>PMKS+ will create a 4-bar linkage based on 3 poses.</subtitle-block>-->
        <!--    <input-block unit='cm'>Length</input-block>-->
        <!--    <app-not-ready-warning></app-not-ready-warning>-->
        <!-- <img src='assets/temp3pos.png'> -->

        <subtitle-block>End-Effector Link</subtitle-block>
        <input-block [formGroup]='synthesisPoseForm'
                     _formControl='length'
                     tooltip='The length of the end-effector link'>
            Length
        </input-block>

        <mat-divider></mat-divider>
        <subtitle-block class = "poseheader">
            <p>Pose 1</p>
            <button-block icon="edit" (click)="setCurrentPose(1)">Edit</button-block>
        </subtitle-block>
        <div class = "pose" *ngIf="getCurrentPose() == 1">
            <dual-input-block [formGroup]='synthesisPoseForm'
                          formControl1='p1x'
                          formControl2='p1y'>
                Pose 1 Position
            </dual-input-block>
        </div>

        <mat-divider></mat-divider>
        <subtitle-block class = "poseheader">
            <p>Pose 2</p>
            <button-block icon="edit" (click)="setCurrentPose(2)">Edit</button-block>
        </subtitle-block>
        <div class = "pose" *ngIf="getCurrentPose() == 2">
            <dual-input-block [formGroup]='synthesisPoseForm'
                          formControl1='p2x'
                          formControl2='p2y'>
                Pose 2 Position
            </dual-input-block>
        </div>

        <mat-divider></mat-divider>
        <subtitle-block class = "poseheader">
            <p>Pose 3</p>
            <button-block icon="edit" (click)="setCurrentPose(3)">Edit</button-block>
        </subtitle-block>
        <div class = "pose" *ngIf="getCurrentPose() == 3">
            <dual-input-block [formGroup]='synthesisPoseForm'
                          formControl1='p3x'
                          formControl2='p3y'>
                Pose 3 Position
            </dual-input-block>
        </div>
        


        <app-not-ready-warning></app-not-ready-warning>
    </panel-section>
  <!--  <panel-section-collapsible [expanded]='true'>-->
  <!--    <subtitle-block buttonLabel='Edit Pose' icon='edit' alwaysShown>Pose 1</subtitle-block>-->
  <!--    <dual-input-block>Pose 1 Position</dual-input-block>-->
  <!--    <input-block>Pose 1 Angle</input-block>-->
  <!--    <button-block icon='arrow_forward'>Next Pose</button-block>-->
  <!--  </panel-section-collapsible>-->
  <!--  <panel-section-collapsible [expanded]='false'>-->
  <!--    <subtitle-block buttonLabel='Edit Pose' icon='edit' alwaysShown>Pose 2</subtitle-block>-->
  <!--    <dual-input-block>Pose 2 Position</dual-input-block>-->
  <!--    <input-block>Pose 2 Angle</input-block>-->
  <!--    <button-block icon='arrow_forward'>Next Pose</button-block>-->
  <!--  </panel-section-collapsible>-->
  <!--  <panel-section-collapsible [expanded]='false'>-->
  <!--    <subtitle-block buttonLabel='Edit Pose' icon='edit' alwaysShown>Pose 3</subtitle-block>-->
  <!--    <dual-input-block>Pose 3 Position</dual-input-block>-->
  <!--    <input-block>Pose 3 Angle</input-block>-->
  <!--    <button-block icon='auto_fix_normal'>Generate</button-block>-->
  <!--  </panel-section-collapsible>-->
</div>
