@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
}

#synthesisWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.poseHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.poseEdit {
  zoom: 0.7;
  justify-content: flex-end;
}

// #headline-1 {
//   @include mat.typography-level($typography-config, 'headline-1');
// }

// #headline-2 {
//   @include mat.typography-level($typography-config, 'headline-2');
// }

// #headline-3 {
//   @include mat.typography-level($typography-config, 'headline-3');
// }

// #headline-4 {
//   @include mat.typography-level($typography-config, 'headline-4');
// }

// #headline-5 {
//   @include mat.typography-level($typography-config, 'headline-5');
// }

// #headline-6 {
//   @include mat.typography-level($typography-config, 'headline-6');
// }

// #subtitle-1 {
//   @include mat.typography-level($typography-config, 'subtitle-1');
// }

// #body-1 {
//   @include mat.typography-level($typography-config, 'body-2');
// }

// #body-2 {
//   @include mat.typography-level($typography-config, 'body-2');
// }

// #subtitle-2 {
//   @include mat.typography-level($typography-config, 'subtitle-2');
// }

// #caption {
//   @include mat.typography-level($typography-config, 'caption');
// }

// #overline {
//   @include mat.typography-level($typography-config, 'overline');
// }

// #button {
//   @include mat.typography-level($typography-config, 'button');
// }

//#input {
//  @include mat.typography-level($typography-config, 'input');
//}

.poseData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}