@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  #title-block {

    padding: 10px 15px;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mat.typography-level($typography-config, 'headline-6');

      #title-button {
        //height: 24px !important;
      }

      #title-icon-button {
        zoom: 0.7; // NOTE: You may need to adjust this value to achieve exactly 48px.
      }
    }

    #title-description {
      @include mat.typography-level($typography-config, 'body-2');
      color: rgba(0, 0, 0, 0.6);
      //font-weight: 200;
      //font-size: 12px;
    }

    mat-icon {
      //color: mat.get-color-from-palette($foreground, 'icon');
    }

    .mini-buttons {
      @include mat.typography-level($typography-config, 'body-2');
      padding: 0 10px;
      margin: 0;
      height: 30px;
      flex-grow: 1;

      &.blue {
        border-color: mat.get-color-from-palette($primary-palette, 500);

        svg > path {
          fill: mat.get-color-from-palette($primary-palette, 500) !important;
        }
      }

      &.red {
        border-color: var(--mat-warning-color);

        svg > path {
          fill: var(--mat-warning-color);
        }
      }
    }
  }
}
