<svg style='overflow: visible'>

    <line id="mainline"
        [attr.x1]='x' [attr.y1]='y'
        [attr.x2]='x2' [attr.y2]='y2'
        [attr.stroke-width]="width"
        [attr.stroke]="color"
        stroke-linecap="round"
    ></line>

    <line id="arrowline1"
        [attr.x1]='ax1' [attr.y1]='ay1'
        [attr.x2]='x2' [attr.y2]='y2'
        [attr.stroke-width]="width"
        [attr.stroke]="color"
        stroke-linecap="round"
    ></line>

    <line id="arrowline2"
        [attr.x1]='ax2' [attr.y1]='ay2'
        [attr.x2]='x2' [attr.y2]='y2'
        [attr.stroke-width]="width"
        [attr.stroke]="color"
        stroke-linecap="round"
    ></line>

</svg>