@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $typography-config: mat.get-typography-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  #templates {

    .mat-mdc-dialog-content {
      max-height: none !important;
    }

    title-block {
      background: white;
      color: black !important;
    }

    panel-section {

      //Make the pointer cursor
      cursor: pointer;

      //If the card (panel-seciotn) is hovered, hide the static image of the GIF
      &:hover .static {
        opacity: 0;
        //Animate the change to opacity
        transition: opacity 0.3s ease-in-out;
      }


      .static {
        position: absolute;
        bottom: 0px;
      }

      #normalPanel {
        background: white !important;
      }

      //Set cursor to pointer
      position: relative;
      display: block;
      //color: black;

      button {
        //Position to bottom right of card
        width: 80px;

        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      img {
        border-radius: var(--border-radius);
        padding-bottom: 10px;
        //blending mode darken
      }

      //Increase elevation when hovering
      &:hover {
        @include mat.elevation(4);
      }

      //delay the hover effect
      transition: all 0.1s ease-in-out;
    }


    .linkage-grid {
      display: grid;
      //Make sure items always fill the entire space, make it responsive
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      // Add a 10px gap
      grid-gap: 20px;
      padding: 24px;
      padding-top: 0px;

      //Set all the cards to the same height


    }

    #remove_top_padding {
      padding: 0px;
    }

    //background-color: mat.get-color-from-palette($primary-palette, 50);

    .dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0;
      padding-left: 24px;

      h1 {
        margin: 0;
        @include mat.typography-level($typography-config, 'headline-6');
      }

    }

  }

}
