<div class='dialog_root'>
  <div class='dialog-header'>
    <h1>Linkage Library</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content id='remove_top_padding'>
    <div class='linkage-grid'>

      <mat-card class='example-card' (click)='openLinkageDialog()'>
        <mat-card-header>
          <mat-card-title>Four Bar Linkage</mat-card-title>
          <mat-card-subtitle>Dog Breed Dog Breed Dog Breed Dog Breed</mat-card-subtitle>
          <!--        <button mat-button>Basic</button>-->
        </mat-card-header>
        <img mat-card-image src='assets/gifs/fourbar.gif' alt='Photo of a Shiba Inu'>
      </mat-card>

      <mat-card class='example-card'>
        <mat-card-header>
          <mat-card-title>Four Bar Linkage</mat-card-title>
          <mat-card-subtitle>Dog Breed Dog Breed Dog Breed Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='assets/gifs/fourbar.gif' alt='Photo of a Shiba Inu'>
      </mat-card>

      <mat-card class='example-card'>
        <mat-card-header>
          <mat-card-title>Four Bar Linkage</mat-card-title>
          <mat-card-subtitle>Dog Breed Dog Breed Dog Breed Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='assets/gifs/fourbar.gif' alt='Photo of a Shiba Inu'>
      </mat-card>

      <mat-card class='example-card'>
        <mat-card-header>
          <mat-card-title>Four Bar Linkage</mat-card-title>
          <mat-card-subtitle>Dog Breed Dog Breed Dog Breed Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='https://material.angular.io/assets/img/examples/shiba2.jpg' alt='Photo of a Shiba Inu'>
      </mat-card>

      <mat-card class='example-card'>
        <mat-card-header>
          <mat-card-title>Four Bar Linkage</mat-card-title>
          <mat-card-subtitle>Dog Breed Dog Breed Dog Breed Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='https://material.angular.io/assets/img/examples/shiba2.jpg' alt='Photo of a Shiba Inu'>
      </mat-card>

      <mat-card class='example-card'>
        <mat-card-header>
          <mat-card-title>Four Bar Linkage</mat-card-title>
          <mat-card-subtitle>Dog Breed Dog Breed Dog Breed Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='https://material.angular.io/assets/img/examples/shiba2.jpg' alt='Photo of a Shiba Inu'>
      </mat-card>

      <!--    <mat-card class='example-card'>-->
      <!--      <mat-card-header>-->
      <!--        <mat-card-title>Four Bar Linkage</mat-card-title>-->
      <!--        <mat-card-subtitle>Dog Breed Dog Breed Dog Breed Dog Breed</mat-card-subtitle>-->
      <!--      </mat-card-header>-->
      <!--      <img mat-card-image src='https://material.angular.io/assets/img/examples/shiba2.jpg' alt='Photo of a Shiba Inu'>-->
      <!--    </mat-card>-->

    </div>
  </div>

  <!--  <div mat-dialog-actions>-->
  <!--    <button mat-button mat-dialog-close>Close</button>-->
  <!--  </div>-->

</div>