<div class='dialog_root' id='templates'>
  <div class='dialog-header'>
    <h1>Linkage Library (Example Linkages)</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content id='remove_top_padding'>
    <div class='linkage-grid'>

      <panel-section (click)='openLinkage("4-Bar")'>
        <title-block>Four Bar Linkage</title-block>
        <img src='assets/gifs/fourbar.gif' alt='Fourbar Image' />
        <img class='static' src='assets/gifs/fourbag.jpg' alt='Fourbar Image' />
        <button mat-flat-button color='primary'>Open</button>
      </panel-section>

      <panel-section (click)='openLinkage("Watt_I")'>
        <title-block>Watt's Linkage</title-block>
        <img src='assets/gifs/watt.gif' alt='Watt I Linkage' />
        <img class='static' src='assets/gifs/watt.jpg' alt='Watt I Linkage' />
        <button mat-flat-button color='primary'>Open</button>
      </panel-section>

      <panel-section (click)='openLinkage("Watt_II")'>
        <title-block>Watt's Linkage II Linkage</title-block>
        <img src='assets/gifs/watt2.gif' alt='Watt II Linkage' />
        <img class='static' src='assets/gifs/watt2.jpg' alt='Watt II Linkage' />
        <button mat-flat-button color='primary'>Open</button>
      </panel-section>

      <panel-section (click)='openLinkage("Stephenson_III")'>
        <title-block>Stephenson III Linkage</title-block>
        <img src='assets/gifs/steph3.gif' alt='Stephenson III Linkage' />
        <img class='static' src='assets/gifs/steph3.jpg' alt='Stephenson III Linkage' />
        <button mat-flat-button color='primary'>Open</button>
      </panel-section>

      <panel-section (click)='openLinkage("Slider_Crank")'>
        <title-block>Slider Crank</title-block>
        <img src='assets/gifs/slider.gif' alt='Slider Crank Linkage' />
        <img class='static' src='assets/gifs/slider.jpg' alt='Slider Crank Linkage' />
        <button mat-flat-button color='primary'>Open</button>
      </panel-section>

      <!--      <panel-section (click)='openLinkage("Force")'>-->
      <!--        <title-block>Four Bar Linkage with Force</title-block>-->
      <!--        <img src='assets/gifs/fourbar.gif' alt='Fourbar Image' />-->
      <!--        <button mat-flat-button color='primary'>Open</button>-->
      <!--      </panel-section>-->

    </div>
  </div>

</div>