<div>
    <div class="tabContainer">
        <app-tab tabLabel="Synthesize" [tabID]=1 (pressedEvent)="tabClicked($event)"></app-tab>
        <app-tab tabLabel="Edit" [tabID]=2 (pressedEvent)="tabClicked($event)"></app-tab>
        <app-tab tabLabel="Analyze" [tabID]=3 (pressedEvent)="tabClicked($event)"></app-tab>
    </div>
    <div *ngIf="this.openTab" class="panel" visible="false">
        <div *ngIf="this.openTab===1" class="page1">
            
        </div>
        <div *ngIf="this.openTab===2" class="page2">

        </div>
        <div *ngIf="this.openTab===3" class="page3">

        </div>
    </div>
</div>