@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .panel{
    position: absolute;
    top: 50px;
    left: 70px;
    width: 300px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    @include mat.elevation(2);
    //Check here for 2nd parameter options: node_modules/@angular/material/core/theming/_palette.scss: Line 674
    background-color: mat.get-color-from-palette($background,'background');
    .page1{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 5px;
    }
    .page2{
        width: 100%;
        height: 100%;
        background-color: blue;
        border-radius: 5px;
    }
    .page3{
        width: 100%;
        height: 100%;
        background-color: green;
        border-radius: 5px;
    }
  }

  .tabContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;

    position: absolute;
    top: 40px;
    left: 10px;
    width: 50px;
    height: calc(100% - 60px);

    app-tab{
        flex-grow:1;
        width: 100%;
    }
  }

}
