@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .panel {
    position: absolute;
    top: 30px;
    left: 45px;
    // width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100% - 30px);
    display: flex;
    // align-items: center;
    // justify-content: center;
    // border-radius: var(--border-radius);
    // background-color: red;

    animation-duration: 4s;

    // @include mat.elevation(4);
    //Check here for 2nd parameter options: node_modules/@angular/material/core/theming/_palette.scss: Line 674
    // background-color: mat.get-color-from-palette($background, 'background');
    // background-color: mat.get-color-from-palette($primary-palette, 50);
    .page1 {
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 270px; //Be careful, there are multiple places to change this value
    }
    .page2 {
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 270px; //Be careful, there are multiple places to change this value
    }
    .page3 {
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 420px; //Be careful, there are multiple places to change this value
    }
  }

  .tabContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    z-index: 10;

    position: absolute;
    top: 30px;
    left: 10px;
    width: 35px;
    height: calc(100% - 50px);

    app-tab {
      flex-grow: 1;
      width: 100%;
    }
  }
}
