<app-grid #gridComponent
          [showIdTags]="toolbarComponent.showIdTags"
          [showCoMTags]="toolbarComponent.showCoMTags"
          [gravity]="toolbarComponent.gravity"
          [unit]="toolbarComponent.unit"
          [runAnimation]="toolbarComponent.animate"></app-grid>
<app-linkage-table #linkageTableComponent
                   [joints]="gridComponent.joints"
                   [links]="gridComponent.links"
                   [forces]="gridComponent.forces"></app-linkage-table>
<app-toolbar #toolbarComponent
             [joints]="gridComponent.joints"
             [links]="gridComponent.links"
             [forces]="gridComponent.forces"
             [mechanisms]="gridComponent.mechanisms"
             [screenCoord]="gridComponent.screenCoord"
             (showcaseTable)="linkageTableComponent.linkageVisibility()"
             (animateGridEmitter)="gridComponent.animate()"
             (showAnalysisPopup)="analysisPopupComponent.showAnalysis($event)"></app-toolbar>
<app-analysis-popup #analysisPopupComponent>
</app-analysis-popup>
