@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    .tab{

        &.active{
            background-color: mat.get-color-from-palette($primary-palette,50);
        }
        border-radius: var(--border-radius);

        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mat.elevation(4);
        //Check here for 2nd parameter options: node_modules/@angular/material/core/theming/_palette.scss: Line 674
        // background-color: mat.get-color-from-palette($background,'background');
        background-color: mat.get-color-from-palette($primary-palette,200);

        cursor: pointer;
    
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
      
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;

        button{
            //set the text size and make it bold
            font-size: 2em;
            font-weight: bold;
            background-color: transparent;
            border: none;
            //rotate -90 deg around the center
            transform: rotate(-90deg);
            transform-origin: center;

            cursor: pointer;
    
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
          
            -webkit-user-drag: none;
            -webkit-tap-highlight-color: transparent;
        }
    }

}