<div id="graph-checkbox-list-three" *ngIf="numberOfSeries === 3">
  <mat-checkbox checked (change)="toggleSeries('Z')">Magnitude</mat-checkbox>
  <mat-checkbox (change)="toggleSeries('X')" color="primary">X-Comp</mat-checkbox>
  <mat-checkbox (change)="toggleSeries('Y')" color="warn">Y-Comp</mat-checkbox>
</div>
<div id="graph-checkbox-list-two" *ngIf="numberOfSeries === 2">
  <mat-checkbox (change)="toggleSeries('X')" color="primary" checked="">X-Comp</mat-checkbox>
  <mat-checkbox (change)="toggleSeries('Y')" color="warn" checked="">Y-Comp</mat-checkbox>
</div>
<apx-chart
  #chart
  [series]="chartOptions.series!"
  [annotations]="chartOptions.annotations!"
  [chart]="chartOptions.chart"
  [colors]="chartOptions.colors"
  [yaxis]="chartOptions.yaxis!"
  [dataLabels]="chartOptions.dataLabels!"
  [markers]="chartOptions.markers!"
  [stroke]="chartOptions.stroke!"
  [grid]="chartOptions.grid"
  [xaxis]="chartOptions.xaxis!"
  [tooltip]="chartOptions.tooltip!"
  [legend]="chartOptions.legend!"
>
</apx-chart>
<div [@showHide]="loading ? 'graphHidden' : 'graphShown'" id="graphHide">
  Graph unavailable while dragging.
</div>
