<svg id="canvas" display="block" width="100%" height="100%" (wheel)="scrollGrid($event)">
  <g id="transformMatrixGrid" (contextmenu)="contextMenu($event, 'grid'); false"
     (click)="disappearContext($event)" (mousedown)="mouseDown($event, 'grid')"
     (mouseup)="mouseUp($event, 'grid')" (mousemove)="mouseMove($event, 'grid')">
    <defs>
      <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
        <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5" />
      </pattern>
      <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
        <rect width="50" height="50" fill="url(#smallGrid)" />
        <path d="M 50 0 L 0 0 0 50" fill="none" stroke="black" stroke-width="1" />
      </pattern>
    </defs>
    <rect x="-5000" y="-5000" width="10000px" height="10000px" fill="url(#grid)" />
  </g>
  <g id="transformMatrix">
    <line id="yAxis" x1="0" y1="-99999" x2="0" y2="99999" style="stroke:rgb(0,0,0);stroke-width:0.04px" />
    <line id="xAxis" x1="-99999" y1="0" x2="99999" y2="0" style="stroke:rgb(0,0,0);stroke-width:0.04px" />
    <g id="linkageHolder" style="transform: scaleY(-1)">
      <svg  *ngFor="let joint of joints" (contextmenu)="contextMenu($event, 'joint', joint); false"
            (click)="disappearContext($event)" [attr.x]="joint.x" [attr.y]="joint.y"
            (mousedown)="mouseDown($event, 'joint', joint)"
            (mouseup)="mouseUp($event, 'joint', joint)"
            (mousemove)="mouseMove($event, 'joint', joint)"
            width="10" height="10" style="overflow: visible" cursor="move">
        <circle id="joint_{{joint.id}}_ring" [attr.r]="(joint.r * 7 / 5)" [attr.cx]="0" [attr.cy]="0" fill="black"/>
        <circle id="joint_{{joint.id}}" [attr.r]="joint.r" [attr.cx]="0" [attr.cy]="0" fill="gray" stroke="#00000000"
                [attr.stroke-width]="(joint.r * 2)"/>
      </svg>
    </g>
    <g id="pathsHolder"></g>
    <g id="pathsPathPointHolder"></g>
    <g id="forcesHolder"></g>
    <g id="jointLinkForcesTagHolder"></g>
    <g id="comTagHolder"></g>
    <g id="pathPointHolder"></g>
    <g id="threePositionHolder"></g>
    <g id="tempHolder">
      <g id="jointTemp" style="transform: scaleY(-1)">
        <line stroke="black" stroke-width="0.02" stroke-opacity="0.5" style="pointer-events: none"></line>
        <svg height="10" width="10" style="overflow: visible" cursor="move">
          <circle r="0.14" cx="0%" cy="0%" fill="black" fill-opacity="0.5" stroke-opacity="0.5"> </circle>
          <circle r="0.1" cx="0%" cy="0%" fill="gray" stroke="#00000000" stroke-width="0.2"> </circle>
        </svg>
      </g>
      <g id="forceTemp" opacity="0.5" style="pointer-events: none">
        <path stroke-width="0.2" stroke="yellow" stroke-opacity="0"></path>
        <path stroke-width="0.4" stroke="black"></path>
        <path fill="black"></path>
      </g>
      <svg>

      </svg>
    </g>
  </g>
  <g class="context-menu-canvas" style="cursor: pointer">
    <g class="menu-entry" id="menuEntryAddLinkOnGrid" (click)="addLink($event)"
       (mouseout)="RectMouseOut($event, 'grid')"
       (mouseover)="RectMouseOver($event, 'grid')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(200, 200, 200); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Add Link</text>
    </g>
  </g>
  <g class="context-menu-joint" style="cursor: pointer">
    <g class="menu-entry" id="menuEntryAddLinkOnJoint" (click)="addLink($event)"
       (mouseout)="RectMouseOut($event, 'addLink')"
       (mouseover)="RectMouseOver($event, 'addLink')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(200, 200, 200); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Add Link</text>
    </g>
    <g class="menu-entry" id="menuEntryCreateGround" (click)="addLink($event)"
       (mouseout)="RectMouseOut($event, 'addGround')"
       (mouseover)="RectMouseOver($event, 'addGround')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" style="fill: steelblue; font-size: 13px">Add Ground</text>
    </g>
<!--    <g class="menu-entry" id="menuEntryCreateSlider" (mouseout)="RectMouseOut($event)" (mouseover)="RectMouseOver($event)">-->
<!--      <rect x="400" y="400" width="90" height="20" style="fill: rgb(200, 200, 200); stroke: white; stroke-width: 1px"></rect>-->
<!--      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Add Slider</text>-->
<!--    </g>-->
  </g>
</svg>
