.menu-entry {
  fill: rgb(244, 244, 244);
  display: none;
}
.menu-entry:hover {
  background: rgb(200, 200, 200);
  fill: rgb(200, 200, 200);
}

.mat-snack-bar-container{
  position: absolute !important;
  bottom: 200px;
  background-color: aquamarine;
  opacity: 0.5 !important;
}