<svg id="canvas" display="block" width="100%" height="100%" (wheel)="scrollGrid($event)">
  <g id="transformMatrixGrid" (contextmenu)="contextMenu($event, 'grid'); false"
     (click)="disappearContext()" (mousedown)="mouseDown($event, 'grid')"
     (mouseup)="mouseUp($event, 'grid')" (mousemove)="mouseMove($event, 'grid')">
    <defs>
      <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
        <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5" />
      </pattern>
      <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
        <rect width="50" height="50" fill="url(#smallGrid)" />
        <path d="M 50 0 L 0 0 0 50" fill="none" stroke="black" stroke-width="1" />
      </pattern>
    </defs>
    <rect x="-5000" y="-5000" width="10000px" height="10000px" fill="url(#grid)" />
  </g>
  <g id="transformMatrix">
    <line id="yAxis" x1="0" y1="-99999" x2="0" y2="99999" style="stroke:rgb(0,0,0);stroke-width:0.04px" />
    <line id="xAxis" x1="-99999" y1="0" x2="99999" y2="0" style="stroke:rgb(0,0,0);stroke-width:0.04px" />
    <g id="linkageHolder" style="transform: scaleY(-1)">
      <path *ngFor="let link of links" (contextmenu)="contextMenu($event, 'link', link); false"
            (click)="disappearContext()"
            (mousedown)="mouseDown($event, 'link', link)"
            (mouseup)="mouseUp($event, 'link', link)"
            (mousemove)="mouseMove($event, 'link', link)"
      [attr.d]="link.d" [attr.id]="link.id" [attr.fill]="link.fill" style="opacity: 0.8"></path>
      <!-- SVG for creating Joints -->
      <svg *ngFor="let joint of joints" (contextmenu)="contextMenu($event, 'joint', joint); false"
           (click)="disappearContext()" [attr.x]="joint.x" [attr.y]="joint.y"
           (mousedown)="mouseDown($event, 'joint', joint)"
           (mouseup)="mouseUp($event, 'joint', joint)"
           (mousemove)="mouseMove($event, 'joint', joint)"
           width="10" height="10" style="overflow: visible" cursor="move">
        <!-- condition with regular revolute joint -->
        <circle *ngIf="joint.ground === false && joint.type !== 'P'" id="joint_{{joint.id}}_ring"
                [attr.r]="(joint.r * 7 / 5)" [attr.cx]="0" [attr.cy]="0" fill="black"/>
        <circle *ngIf="joint.ground === false && joint.type !== 'P'" id="joint_{{joint.id}}"
                [attr.r]="joint.r" [attr.cx]="0" [attr.cy]="0" fill="gray" stroke="#00000000"
                [attr.stroke-width]="(joint.r * 2)"/>
        <!-- condition for slider crank -->
        <circle *ngIf="joint.type === 'P'" r="0.06667" cx="0%" cy="0%" fill="black" stroke="#00000000" stroke-width="0.2"></circle>
        <path *ngIf="joint.type === 'P'" d="M -0.16 -0.16 L 0.16 -0.16 C 0.182077 -0.16 0.2 -0.142077 0.2 -0.12 L 0.2 -0.12
         L 0.2 0.12 C 0.2 0.142077 0.182077 0.16 0.16 0.16 L 0.16 0.16 L -0.16 0.16 C -0.182077 0.16 -0.2 0.142077
          -0.2 0.12 L -0.2 0.12 L -0.2 -0.12 C -0.2 -0.142077 -0.182077 -0.16 -0.16 -0.16 Z" stroke="black"
              stroke-width="0.04" fill-opacity="0"></path>
        <!-- condition for ground joint -->
        <circle *ngIf="joint.ground === true"
                r="0.06667" cx="0%" cy="0%" fill="black" stroke="#00000000" stroke-width="0.2"></circle>
        <line *ngIf="joint.ground === true"
              x1="-0.15" y1="-0.15" x2="-0.225" y2="-0.225" stroke="black" stroke-width="0.03"></line>
        <line *ngIf="joint.ground === true"
              x1="-0.075" y1="-0.15" x2="-0.15" y2="-0.225" stroke="black" stroke-width="0.03"></line>
        <line *ngIf="joint.ground === true"
              x1="0" y1="-0.15" x2="-0.075" y2="-0.225" stroke="black" stroke-width="0.03"></line>
        <line *ngIf="joint.ground === true"
              x1="0.075" y1="-0.15" x2="0" y2="-0.225" stroke="black" stroke-width="0.03"></line>
        <line *ngIf="joint.ground === true"
              x1="0.15" y1="-0.15" x2="0.075" y2="-0.225" stroke="black" stroke-width="0.03"></line>
        <line *ngIf="joint.ground === true"
              x1="0.225" y1="-0.15" x2="0.15" y2="-0.225" stroke="black" stroke-width="0.03"></line>
        <line *ngIf="joint.ground === true"
              x1="-0.3" y1="-0.15" x2="0.3" y2="-0.15" stroke="black" stroke-width="0.05"></line>
        <path *ngIf="joint.ground === true"
              d="M -0.225 -0.15 L -0.15 0.15 L 0.15 0.15 L 0.225 -0.15" stroke="black" stroke-width="0.05"
              fill="transparent"></path>
      </svg>
    </g>
    <g id="pathsHolder"></g>
    <g id="pathsPathPointHolder"></g>
    <g id="forcesHolder" style="transform: scaleY(-1)" *ngFor="let force of forces"
       (contextmenu)="contextMenu($event, 'force', force); false"
       (click)="disappearContext()"
       (mousedown)="mouseDown($event, 'force', force)"
       (mouseup)="mouseUp($event, 'force', force)"
       (mousemove)="mouseMove($event, 'force', force)">
      <g [attr.id]="force.id">
        <path [attr.d]="force.forceLine" stroke="yellow" stroke-width="0.2"></path>
        <path [attr.d]="force.forceLine" stroke="black" stroke-width="0.04"></path>
        <path [attr.d]="force.forceArrow" fill="black"></path>
      </g>
      <svg [attr.x]="force.startCoord.x" [attr.y]="force.startCoord.y" height="10" width="10"
           style="overflow: visible; cursor: move">
        <circle cx="0%" cy="0%" r="0.1" fill="blue"></circle>
        <circle cx="0%" cy="0%" r="0.1" fill="blue"></circle>
      </svg>
      <svg [attr.x]="force.endCoord.x" [attr.y]="force.endCoord.y" height="10" width="10"
           style="overflow: visible; cursor: move">
        <circle cx="0%" cy="0%" r="0.1" fill="blue"></circle>
        <circle cx="0%" cy="0%" r="0.1" fill="blue"></circle>
      </svg>
    </g>
    <g id="jointLinkForcesTagHolder"></g>
    <g id="comTagHolder"></g>
    <g id="pathPointHolder"></g>
    <g id="threePositionHolder"></g>
    <g id="tempHolder">
      <g id="jointTemp" style="transform: scaleY(-1)">
        <line stroke="black" stroke-width="0.02" stroke-opacity="0.5" style="pointer-events: none"></line>
        <svg height="10" width="10" style="overflow: visible" cursor="move">
          <circle r="0.14" cx="0%" cy="0%" fill="black" fill-opacity="0.5" stroke-opacity="0.5"> </circle>
          <circle r="0.1" cx="0%" cy="0%" fill="gray" stroke="#00000000" stroke-width="0.2"> </circle>
        </svg>
      </g>
      <g id="forceTemp" opacity="0.5" style="pointer-events: none; transform: scaleY(-1)">
        <path stroke-width="0.04" stroke="black"></path>
        <path fill="black"></path>
      </g>
    </g>
  </g>
  <g class="context-menu-canvas" style="cursor: pointer">
    <g class="menu-entry" id="menuEntryAddLinkOnGrid" (click)="createLink($event, 'grid')"
       (mouseout)="RectMouseOut($event, 'grid')"
       (mouseover)="RectMouseOver($event, 'grid')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Add Link</text>
    </g>
  </g>
  <g class="context-menu-joint" style="cursor: pointer">
    <g class="menu-entry" id="menuEntryAddLinkOnJoint" (click)="createLink($event, 'joint')"
       (mouseout)="RectMouseOut($event, 'addLink')"
       (mouseover)="RectMouseOver($event, 'addLink')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Add Link</text>
    </g>
    <g class="menu-entry" id="menuEntryCreateGround" (click)="createGround()"
       (mouseout)="RectMouseOut($event, 'addGround')"
       (mouseover)="RectMouseOver($event, 'addGround')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" style="fill: steelblue; font-size: 13px">Create Ground</text>
    </g>
    <g class="menu-entry" id="menuEntryCreateSlider" (click)="createSlider($event)"
       (mouseout)="RectMouseOut($event, 'addSlider')"
       (mouseover)="RectMouseOver($event, 'addSlider')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" style="fill: steelblue; font-size: 13px">Create Slider</text>
    </g>
    <g class="menu-entry" id="menuEntryDeleteJoint" (click)="deleteJoint($event)"
       (mouseout)="RectMouseOut($event, 'deleteJoint')"
       (mouseover)="RectMouseOver($event, 'deleteJoint')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" style="fill: steelblue; font-size: 13px">Delete Joint</text>
    </g>
  </g>
  <g class="context-menu-link" style="cursor:pointer">
    <g class="menu-entry" id="menuEntryAddLinkOnLink" (click)="createLink($event, 'link')"
       (mouseout)="RectMouseOut($event, 'addLink')"
       (mouseover)="RectMouseOver($event, 'addLink')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="0" style="fill: steelblue; font-size: 13px">Attach Link</text>
    </g>
    <g class="menu-entry" id="menuEntryAddForce" (click)="createForce($event)"
       (mouseout)="RectMouseOut($event, 'addForce')"
       (mouseover)="RectMouseOver($event, 'addForce')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="0" style="fill: steelblue; font-size: 13px">Attach Force</text>
    </g>
    <g class="menu-entry" id="menuEntryAddTracerPoint" (click)="addJoint()"
       (mouseout)="RectMouseOut($event, 'addTracer')"
       (mouseover)="RectMouseOver($event, 'addTracer')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="0" style="fill: steelblue; font-size: 13px">Attach Tracer Point</text>
    </g>
    <g class="menu-entry" id="menuEntryEditShape" (click)="editShape()"
       (mouseout)="RectMouseOut($event, 'editShape')"
       (mouseover)="RectMouseOver($event, 'editShape')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="0" style="fill: steelblue; font-size: 13px">Edit Shape</text>
    </g>
    <g class="menu-entry" id="menuEntryDeleteLink" (click)="deleteLink($event)"
       (mouseout)="RectMouseOut($event, 'deleteLink')"
       (mouseover)="RectMouseOver($event, 'deleteLink')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="0" style="fill: steelblue; font-size: 13px">Delete Link</text>
    </g>
  </g>
  <g class="context-menu-force" style="cursor: pointer">
    <g class="menu-entry" id="menuEntryChangeForceDirection" (click)="changeForceDirection($event)"
       (mouseout)="RectMouseOut($event, 'changeForceDirection')"
       (mouseover)="RectMouseOver($event, 'changeForceDirection')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Switch Force Direction</text>
    </g>
    <g class="menu-entry" id="menuEntryChangeForceLocal" (click)="changeForceLocal($event)"
       (mouseout)="RectMouseOut($event, 'changeForceLocal')"
       (mouseover)="RectMouseOver($event, 'changeForceLocal')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Change Force Local</text>
    </g>
    <g class="menu-entry" id="menuEntryDeleteForce" (click)="deleteForce($event)"
       (mouseout)="RectMouseOut($event, 'deleteForce')"
       (mouseover)="RectMouseOver($event, 'deleteForce')">
      <rect x="400" y="400" width="120" height="20" style="fill: rgb(244, 244, 244); stroke: white; stroke-width: 1px"></rect>
      <text x="400" y="400" dx="15" dy="15" style="fill: steelblue; font-size: 13px">Delete Force</text>
    </g>
  </g>
</svg>
