.linkageTable{
  visibility: visible;
  position: absolute;
  top: 130px;
  left: 10px;
  opacity: 1;
  /*overflow: hidden;*/
  border: 1px solid;
  display: grid;
  overflow: visible;
  background-color: white;
  border-collapse: separate;
}
.linkageTable .buttonContainer{
  height: 10%;
}
.linkageTable .buttonContainer button{
  width: 33.333%;
  /*height: 100%;*/
  cursor: pointer;
  float: left;
  border: 1px solid;
  /*outline: none;*/
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  text-align: center;
  font-size: 24px;
  background-color: white;
  color: gray;
}
/*.linkageTable .buttonContainer button:hover {*/
/*  background-color: lightgray;*/
/*}*/
/*.linkageTable .buttonContainer button:out-of-range {*/
/*  background-color: aquamarine;*/
/*}*/
/*this kinda works but not really.... Delete if not needed*/
/*.linkageTable .buttonContainer button:hover {*/
/*  background-color: #b52e31;*/
/*}*/
/*.tabContainer .tabPanel{*/
/*  height: 85%;*/
/*  background-color: white;*/
/*  color: white;*/
/*  !*text-align: center;*!*/
/*  padding-top: 105px;*/
/*  box-sizing: border-box;*/
/*  !*font-family: "Times New Roman", Times, serif;*!*/
/*  !*font-size: 22px;*!*/
/*  display: none;*/
/*  !*border: 1px solid;*!*/
/*}*/
th,td{
  border: 1px solid black;
  text-align: center;
  /*need box-sizing??*/
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  border-collapse: collapse;
}
th{
  background-color: #AAAAAA;
}
table {
  border-collapse: collapse;
}
input{
  width: 50px;
}
