.linkageTabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  //position: absolute;
  //top: 130px;
  //left: 10px;
  opacity: 1;
  border: 1px solid;
  overflow: visible;
  background-color: white;
  border-collapse: separate;
  visibility: visible;
}

.linkageTabs input[type='radio'] {
  display: none;
}

.linkageTabs label {
  background: white;
  //font-weight: lighter;
  border: 1px solid;
  text-align: center;
  width: 110px;
  font-family: Arial, sans-serif;
  font-size: 22px;
  cursor: pointer;
}

.linkageTabs .tab {
  width: 100%;
  background: white;
  order: 1;
  display: none;
}

.linkageTabs input[type='radio']:hover + label {
  background: lightgray;
}

.linkageTabs input[type='radio']:checked + label + .tab {
  max-width: 400px;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.linkageTabs input[type='radio']:checked + label {
  background: gray;
}

.linkageTabs input[type='radio']:checked + label + .tab thead {
  background: gray;
}

.linkageTabs input[type='radio']:checked + label + .tab th {
  border: 1px solid black;
}

.linkageTabs input[type='radio']:checked + label + .tab input {
  display: table-cell;
  width: 80%;
}

.linkageTabs input[type='radio']:checked + label + .tab tbody td {
  border: 1px solid black;
}

.linkageTabs input[type='radio']:checked + label + .tab tbody table {
  display: contents;
  text-align: center;
}
