/*.linkageTable{*/
/*  !*visibility: visible;*!*/
/*  position: absolute;*/
/*  top: 130px;*/
/*  left: 10px;*/
/*  opacity: 1;*/
/*  !*overflow: hidden;*!*/
/*  border: 1px solid;*/
/*  display: grid;*/
/*  overflow: visible;*/
/*  background-color: white;*/
/*  border-collapse: separate;*/
/*}*/
/*.linkageTable .buttonContainer{*/
/*  height: 10%;*/
/*}*/
/*.linkageTable .buttonContainer button{*/
/*  width: 33.333%;*/
/*  !*height: 100%;*!*/
/*  cursor: pointer;*/
/*  float: left;*/
/*  border: 1px solid;*/
/*  !*outline: none;*!*/
/*  padding: 10px;*/
/*  font-family: Arial, sans-serif;*/
/*  !*font-family: "Times New Roman", Times, serif;*!*/
/*  font-weight: lighter;*/
/*  text-align: center;*/
/*  font-size: 24px;*/
/*  background-color: white;*/
/*  color: gray;*/
/*!*'color: black; background-color: gray; font-family: Arial, sans-serif'*!*/
/*}*/
/*.linkageTable .buttonContainer button:hover{*/
/*  background-color: lightgray;*/
/*  font-family: Arial, sans-serif;*/
/*}*/

/*.linkageTable .buttonContainer button:active{*/
/*  color: black;*/
/*  background-color: gray;*/
/*}*/
/*.linkageTable .buttonContainer button:hover {*/
/*  background-color: lightgray;*/
/*}*/
/*.linkageTable .buttonContainer button:out-of-range {*/
/*  background-color: aquamarine;*/
/*}*/
/*this kinda works but not really.... Delete if not needed*/
/*.linkageTable .buttonContainer button:hover {*/
/*  background-color: #b52e31;*/
/*}*/
/*.tabContainer .tabPanel{*/
/*  height: 85%;*/
/*  background-color: white;*/
/*  color: white;*/
/*  !*text-align: center;*!*/
/*  padding-top: 105px;*/
/*  box-sizing: border-box;*/
/*  !*font-family: "Times New Roman", Times, serif;*!*/
/*  !*font-size: 22px;*!*/
/*  display: none;*/
/*  !*border: 1px solid;*!*/
/*}*/
/*th,td{*/
/*  border: 1px solid black;*/
/*  text-align: center;*/
/*  !*need box-sizing??*!*/
/*  box-sizing: border-box;*/
/*  font-family: "Times New Roman", Times, serif;*/
/*  font-size: 16px;*/
/*  border-collapse: collapse;*/
/*}*/
/*th{*/
/*  background-color: #AAAAAA;*/
/*}*/
/*table {*/
/*  border-collapse: collapse;*/
/*}*/
/*input{*/
/*  width: 50px;*/
/*}*/

.linkageTabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  position: absolute;
  top: 130px;
  left: 10px;
  opacity: 1;
  border: 1px solid;
  overflow: visible;
  background-color: white;
  border-collapse: separate;
  visibility: visible;
}

.linkageTabs input[type='radio'] {
  display: none;
}

.linkageTabs label {
  background: white;
  font-weight: lighter;
  border: 1px solid;
  text-align: center;
  width: 131.2px;
  font-family: Arial, sans-serif;
  font-size: 22px;
  cursor: pointer;
}

.linkageTabs .tab {
  width: 100%;
  background: white;
  order: 1;
  display: none;
}

.linkageTabs input[type='radio']:hover + label {
  background: lightgray;
}

.linkageTabs input[type='radio']:checked + label + .tab {
  max-width: 400px;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.linkageTabs input[type='radio']:checked + label {
  background: gray;
}

.linkageTabs input[type='radio']:checked + label + .tab thead {
  background: gray;
}
.linkageTabs input[type='radio']:checked + label + .tab th {
  border: 1px solid black;
}
.linkageTabs input[type='radio']:checked + label + .tab input {
  display: table-cell;
  width: 80%;
}

.linkageTabs input[type='radio']:checked + label + .tab tbody td {
  border: 1px solid black;
}

.linkageTabs input[type='radio']:checked + label + .tab tbody table {
  display: contents;
  text-align: center;
}
