<button class="secondaryButtons" id="showTable"
        style="position: absolute; top: 95px; left: 10px; z-index: 1000;
         font-size: 17px; width: 8em;" (click)="linkageVisability()">Hide table</button>
<div id="linkageTable" class="linkageTable" style="visibility: visible">
    <div class="buttonContainer">
      <button id="jointButton" (click)="setTab(0)"
              (mouseover)="mouseOver(0)"
              (mouseout)="mouseOut(0)"
              style="color: black; background-color: gray"> Joints </button>
      <button id="linkButton" (click)="setTab(1)"
              (mouseover)="mouseOver(1)"
              (mouseout)="mouseOut(1)"> Links </button>
      <button id="forceButton" (click)="setTab(2)"
              (mouseover)="mouseOver(2)"
              (mouseout)="mouseOut(2)"> Forces </button>
    </div>
    <div class="tabPanel" *ngIf="selectedTab === 0">
      <table id="jointTable">
        <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Linked To</th>
          <th>Dist From Joint</th>
          <th>x</th>
          <th>y</th>
          <th>angle</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let joint of joints">
          <!--                <td class="joint-table-item">-->
          <!--                  <select type="radio" id="jointRadioButtons" [checked]="inputTable[indexOfElement]" (change)="changeInput(indexOfElement)">-->
          <!--                  </select>-->
          <!--                  <input *ngIf="jointArray[indexOfElement].grounded == true" type="radio" [checked]="inputTable[indexOfElement]" (change)="changeInput(indexOfElement)">-->
          <!--                  <input *ngIf="jointArray[indexOfElement].grounded == false" type="hidden">-->
          <!--                  <input type="radio" id="jointRadioButtons" [checked]="inputTable[indexOfElement]" (change)="changeInput(indexOfElement)">-->
          <!--                </td>-->
          <td>
            <input type="text" value="{{joint.id}}" (change)="changeJointProp($event, joint, 'id')">
          </td>
          <!--                <td class="joint-table-item">{{row[0]}}</td> &lt;!&ndash; joint id&ndash;&gt;-->
          <!-- <td>{{row[1]}}</td>  --> <!-- joint type -->
          <td>
            {{joint.type}}
          </td>
          <td>
            <table *ngFor="let conJoints of joint.connectedJoints">
              <td style="border: none">
                {{conJoints.id}}
              </td>
            </table>
          </td>
          <td>
            <table *ngFor="let conJoint of joint.connectedJoints">
              <td style="border: none">
                {{distFromJoint(conJoint, joint)}}
              </td>
            </table>
          </td>
          <td>
            <input type="text" value="{{joint.x}}" (change)="changeJointProp($event, joint, 'x')">
          </td>
          <td>
            <input type="text" value="{{joint.y}}" (change)="changeJointProp($event, joint, 'y')">
          </td>
          <td *ngIf="joint.type === 'P'">
            <input type="text" value="{{joint.angle}}" (change)="changeJointProp($event, joint, 'angle')">
          </td>
          <td *ngIf="joint.type !== 'P'">
          </td>
          <!--                <td class="joint-table-item">-->
          <!--                  <input type="button" value="Delete" (click)="deleteJoint(indexOfElement)">-->
          <!--                </td>-->
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tabPanel" *ngIf="selectedTab === 1">
      <table id="linkTable">
        <thead>
        <!--Link Table Header row-->
        <tr>
          <th>ID</th>
          <th>Mass</th>
          <th>MoI</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let link of links">
          <td>
            {{link.id}}
          </td>
          <td>
            {{link.mass}}
          </td>
          <td>
            {{link.massMoI}}
          </td>
        </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    <div class="tabPanel" *ngIf="selectedTab === 2">
      <table id="forceTable">
        <thead>
        <tr>
          <th>On Link</th>
          <th>ID</th>
          <th>Angle</th>
          <th>X-Mag</th>
          <th>Y-Mag</th>
          <th>X-Pos</th>
          <th>Y-Pos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let force of forces">
          <td>
            {{force.link.id}}
          </td>
          <td>
            {{force.id}}
          </td>
          <td>
            90
          </td>
          <td>
            {{force.xMag}}
          </td>
          <td>
            {{force.yMag}}
          </td>
          <td>
            {{force.startCoord.x}}
          </td>
          <td>
            {{force.startCoord.y}}
          </td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
</div>
