<panel-section>
  For Jacob: Length is {{ currentLengthUnit }}
  <title-block> Settings </title-block>
  <radio-block option1="Inches" option2="cm" option3="Meters">Length Units</radio-block>
  <radio-block option1="Degrees" option2="Radians">Angle Units</radio-block>
  <radio-block option1="Clockwise" option2="Counter-Clockwise">Input Direction</radio-block>
  <subtitle-block>Force Settings</subtitle-block>
  <toggle-block>Gravity</toggle-block>
  <input-block unit="deg/sec">Input Speed</input-block>
  <radio-block option1="lbf-in" option2="N-cm" option3="N-m">Torque Units</radio-block>
  <button-block icon="edit">Edit Force Directions</button-block>
  <button-block icon="edit">Edit Moment Centers</button-block>
</panel-section>
