<div id='settingsWrapper'>
  <panel-section>
    <!-- {{ this.currentAngleUnit }} -->
    <title-block> Settings</title-block>
    <collapsible-subseciton titleLabel='Basic Settings' [expanded]='true'>
      <radio-block
        option1='English (in)'
        option2='Metric (cm)'
        option3='SI (m)'
        [formGroup]='this.settingsForm'
        _formControl='globalunit'
        tooltip='Select the global units to be used for the analysis.'
        [disabled]='this.settingsService.animating.value'
      >Global Units
      </radio-block>
      <radio-block
        option1='Degree (&deg;)'
        option2='Radian'
        [formGroup]='this.settingsForm'
        _formControl='angleunit'
        tooltip='Select the units to be used for angles. This updates units for derived units as well (e.g. angular velocity, etc.)'
        [disabled]='this.settingsService.animating.value'
      >Angle Units
      </radio-block
      >
      <radio-block
        option1='Clockwise'
        option2='Counter-Clockwise'
        [formGroup]='this.settingsForm'
        _formControl='rotation'
        tooltip='Select the direction of rotation for the animation to start in. Note that positive angles are always counter-clockwise.'
        [disabled]='this.settingsService.animating.value'
      >Input Direction
      </radio-block>

      <input-block
        unit='deg/sec'
        type='number'
        [formGroup]='this.settingsForm'
        _formControl='speed'
        tooltip='The speed that the animation will run at rpm'
      >Input Speed
      </input-block>
    </collapsible-subseciton>

    <collapsible-subseciton titleLabel='Experimental Features'>
      <!--      <toggle-block-->
      <!--        [formGroup]='this.settingsForm'-->
      <!--        _formControl='gravity'-->
      <!--        tooltip='Allows users to assign weights to links and enables analysis options for torque and forces.'-->
      <!--      >Enable Forces-->
      <!--      </toggle-block>-->
      <button-block *ngIf='!settingsService.isForces.value' customIcon='com' [click]='openEnableForceDialog.bind(this)'>
        Enable Masses / Forces
      </button-block>

      <button-block *ngIf='!settingsService.isWeldedJointsEnabled.value' customIcon='weld_joint'
                    [click]='openEnableWeldedDialog.bind(this)'>
        Enable Welded Joints
      </button-block>

      <button-block *ngIf='!settingsService.isEquationsEnabled.value' icon='format_list_numbered'
                    [click]='openEnablEquationsDialog.bind(this)'>
        Enable Loop Equations
      </button-block>

      <ng-container *ngIf='settingsService.isForces.value'>
        <button-block icon='edit' [click]='sendComingSoon'>Edit Force Directions</button-block>
        <button-block icon='edit' [click]='sendComingSoon'>Edit Moment Centers</button-block>
      </ng-container>

    </collapsible-subseciton>
    <collapsible-subseciton titleLabel='Visual Settings' [expanded]='true'>
      <toggle-block
        [formGroup]='this.settingsForm'
        _formControl='showMajorGrid'
        tooltip='Show / hide the major grid lines.'>
        Grid
      </toggle-block>
      <toggle-block *ngIf='settingsService.isShowMajorGrid.value'
                    [formGroup]='this.settingsForm'
                    _formControl='showMinorGrid'
                    tooltip='Show / hide the minor grid lines.'>
        Minor Gridlines
      </toggle-block>
      <input-block
        type='number'
        [formGroup]='this.settingsForm'
        _formControl='objectScale'
        tooltip='Scales all links, joints, and forces. A save and reload is for changes to take effect. (Default: 1)'
      >Object Scale
      </input-block>
      <button-block icon='auto_fix_normal' [click]='updateObjectScale.bind(this)'>Update Object Scale</button-block>
    </collapsible-subseciton>

  </panel-section>
</div>
