@use '@angular/material' as mat;
@use 'src/app/component/toolbar/toolbar.component.scss' as toolbar;
@use 'src/app/component/tab/tab.component.scss' as tab;
@use 'src/app/component/left-tabs/left-tabs.component.scss' as left-tabs;
@use 'src/app/component/animation-bar/animation-bar.component.scss' as animation-bar;
@use 'src/app/component/blocks/title/title.component.scss' as title-block;
@use 'src/app/component/grid/grid.component.scss' as grid;
@use 'src/app/component/edit-panel/edit-panel.component.scss' as edit-panel;
@use 'src/app/component/blocks/button/button.component.scss' as button-block;
@use 'src/app/component/blocks/input/input.component.scss' as input-block;
@use 'src/app/component/blocks/panel-section/panel-section.component.scss' as panel-section;
@use 'src/app/component/blocks/panel-section-collapsible/panel-section-collapsible.component.scss'
  as panel-section-collapsible;
@use 'src/app/component/blocks/dual-input/dual-input.component.scss' as dual-input-block;
@use 'src/app/component/blocks/radio/radio.component.scss' as radio-block;
@use 'src/app/component/blocks/subtitle/subtitle.component.scss' as subtitle-block;
@use 'src/app/component/blocks/toggle/toggle.component.scss' as toggle-block;
@use 'src/app/component/blocks/blocks.common.scss' as blocks-common;
@use 'src/app/component/analysis-panel/analysis-panel.component.scss' as analysis-panel;
@use 'src/app/component/analysis-graph/analysis-graph.component.scss' as analysis-graph;
@use 'src/app/component/right-panel/right-panel.component.scss' as right-panel;

@include mat.core();
@include mat.strong-focus-indicators();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$amber-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($my-theme);
@include mat.strong-focus-indicators-theme($my-theme);
@include toolbar.css($my-theme);
@include tab.css($my-theme);
@include left-tabs.css($my-theme);
@include animation-bar.css($my-theme);
@include grid.css($my-theme);
@include edit-panel.css($my-theme);
@include analysis-panel.css($my-theme);
@include analysis-graph.css($my-theme);
@include right-panel.css($my-theme);

@include blocks-common.css($my-theme);
@include panel-section.css($my-theme);
@include panel-section-collapsible.css($my-theme);
@include title-block.css($my-theme);
@include button-block.css($my-theme);
@include input-block.css($my-theme);
@include dual-input-block.css($my-theme);
@include radio-block.css($my-theme);
@include subtitle-block.css($my-theme);
@include toggle-block.css($my-theme);
