@use '@angular/material' as mat;
@use 'src/app/component/toolbar/toolbar.component.scss' as toolbar;
@use 'src/app/component/tab/tab.component.scss' as tab;
@use 'src/app/component/left-tabs/left-tabs.component.scss' as left-tabs;
@use 'src/app/component/animation-bar/animation-bar.component.scss' as animation-bar;

@include mat.core();
@include mat.strong-focus-indicators();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$amber-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);
@include mat.strong-focus-indicators-theme($my-theme);
@include toolbar.css($my-theme);
@include tab.css($my-theme);
@include left-tabs.css($my-theme);
@include animation-bar.css($my-theme);