@use '@angular/material' as mat;
@use 'src/app/component/toolbar/toolbar.component.scss' as toolbar;
@use 'src/app/component/tab/tab.component.scss' as tab;
@use 'src/app/component/left-tabs/left-tabs.component.scss' as left-tabs;
@use 'src/app/component/animation-bar/animation-bar.component.scss' as animation-bar;
@use 'src/app/component/blocks/title/title.component.scss' as title-block;
@use 'src/app/component/grid/grid.component.scss' as grid;
@use 'src/app/component/blocks/edit-panel/edit-panel.component.scss' as edit-panel;
@use 'src/app/component/blocks/button/button.component.scss' as button-block;
@use 'src/app/component/blocks/input/input.component.scss' as input-block;
@use 'src/app/component/blocks/panel-section/panel-section.component.scss' as panel-section;
@use 'src/app/component/blocks/panel-section-collapsible/panel-section-collapsible.component.scss' as panel-section-collapsible;

@include mat.core();
@include mat.strong-focus-indicators();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$amber-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);
@include mat.strong-focus-indicators-theme($my-theme);
@include toolbar.css($my-theme);
@include tab.css($my-theme);
@include left-tabs.css($my-theme);
@include animation-bar.css($my-theme);
@include grid.css($my-theme);
@include edit-panel.css($my-theme);

@include panel-section.css($my-theme);
@include panel-section-collapsible.css($my-theme);
@include title-block.css($my-theme);
@include button-block.css($my-theme);
@include input-block.css($my-theme);