<div>
  <div
    [@openClose]="getIsOpen() ? (getOpenTab() === 1 ? 'open' : 'openWide') : 'closed'"
    id='rightPanel'
  >
    <div *ngIf='getOpenTab() === 1' class='page1'>
      <app-settings-panel></app-settings-panel>
    </div>
    <div *ngIf='getOpenTab() === 2' class='page2'>
      <app-equation-panel></app-equation-panel>
    </div>
    <div *ngIf='getOpenTab() === 3' class='page3'>
      <div id='debugWrapper'>
        <panel-section>
          <button-block icon='terminal' [click]='printActiveObject.bind(this)'>Console Log Active Object</button-block>
          <button-block icon='terminal' [click]='printMechanism.bind(this)'>Console Log Mechanism</button-block>

          <app-linkage-table></app-linkage-table>

          <li>GridState: {{debugGetGridState()}}</li>
          <li>LinkState: {{debugGetLinkState()}}</li>
          <li>JointState: {{debugGetJointState()}}</li>
          <li>ForceState: {{debugGetForceState()}}</li>
          <li>AOS.objType: <b>{{activeObjService.objType}}</b></li>
          <li>AOS.selectedJoint.id: <b>{{activeObjService.selectedJoint?.id}}</b></li>
          <li>AOS.selectedLink.id: <b>{{activeObjService.selectedLink?.id}}</b></li>
          <li>AOS.selectedForce.id: <b>{{activeObjService.selectedForce?.id}}</b></li>
          <li>AOS.prevSelectedJoint.id: <b>{{activeObjService.prevSelectedJoint?.id}}</b></li>
          <li>AOS.selectedForce.isStartSelected:  {{activeObjService.selectedForce?.isStartSelected}}</li>
          <li>AOS.selectedForce.isEndSelected:  {{activeObjService.selectedForce?.isEndSelected}}</li>
          <div style='height: 50px'></div>
        </panel-section>
      </div>
    </div>
  </div>
</div>
