<svg id='canvas' display='block' width='100%' height='100%' [cdkContextMenuTriggerFor]='context_menu'
     (contextmenu)='onContextMenu($event)' (pointermove)='mouseMove($event)' (pointerup)='mouseUp($event)'
     (pointerdown)='mouseDown($event)'>>
  <defs>
    <filter id="elevation-1" x="-50%" y="-50%" width="200%" height="200%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="0.02"/>
      <feOffset dx="0.01" dy="-0.01" />
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.4"/>
      </feComponentTransfer>
      <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
    <filter id="elevation-2" x="-50%" y="-50%" width="200%" height="200%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="0.04"/>
      <feOffset dx="0.03" dy="-0.03" />
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.5"/>
      </feComponentTransfer>
      <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
    <filter id="elevation-3" x="-50%" y="-50%" width="200%" height="200%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="0.06"/>
      <feOffset dx="0.05" dy="-0.05" />
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.6"/>
      </feComponentTransfer>
      <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
  </defs>
  <!-- This is only used to to scale onto when there is not link -->
  <rect *ngIf='mechanismSrv.joints.length == 0'
        [attr.x]='-10' [attr.y]='-10'
        [attr.width]='20'
        [attr.height]='20' fill='#ffffff' stroke='#00000000'>
  </rect>
  <!-- Axes and Grid-->
  <g *ngIf='!settings.tempGridDisable' id='backgroundAndGrid' (contextmenu)='setLastRightClick("grid")' (pointerdown)='setLastLeftClick("grid")'>

    <!--  The Background-->
    <rect [attr.x]='svgGrid.viewBoxMinX' [attr.y]='svgGrid.viewBoxMinY'
          [attr.width]='svgGrid.viewBoxMaxX-svgGrid.viewBoxMinX'
          [attr.height]='svgGrid.viewBoxMaxY-svgGrid.viewBoxMinY' fill='#ffffff' stroke='#00000000'>

    </rect>
    <!--  The Minor Axes-->
    <ng-container>
      <ng-container *ngFor='let line of svgGrid.verticalLinesMinor'>
        <line [attr.x1]='line' [attr.y1]='svgGrid.viewBoxMinY' [attr.x2]='line' [attr.y2]='svgGrid.viewBoxMaxY'
              stroke='black' [attr.stroke-width]='svgGrid.scaleWithZoom(0.15)'></line>
      </ng-container>
      <ng-container *ngFor='let line of svgGrid.horizontalLinesMinor'>
        <line [attr.x1]='svgGrid.viewBoxMinX' [attr.y1]='line' [attr.x2]='svgGrid.viewBoxMaxX' [attr.y2]='line'
              stroke='black' [attr.stroke-width]='svgGrid.scaleWithZoom(0.15)'></line>
      </ng-container>
    </ng-container>

    <!--  The Major Axes-->
    <ng-container>
      <ng-container *ngFor='let line of svgGrid.verticalLines'>
        <line [attr.x1]='line' [attr.y1]='svgGrid.viewBoxMinY' [attr.x2]='line' [attr.y2]='svgGrid.viewBoxMaxY'
              stroke='black' [attr.stroke-width]='svgGrid.scaleWithZoom(0.75)'></line>
      </ng-container>
      <ng-container *ngFor='let line of svgGrid.horizontalLines'>
        <line [attr.x1]='svgGrid.viewBoxMinX' [attr.y1]='line' [attr.x2]='svgGrid.viewBoxMaxX' [attr.y2]='line'
              stroke='black' [attr.stroke-width]='svgGrid.scaleWithZoom(0.75)'></line>
      </ng-container>
    </ng-container>


    <!--  The X and Y Axis-->
    <line id='axes' [attr.x1]='svgGrid.viewBoxMinX' y1='0' [attr.x2]='svgGrid.viewBoxMaxX' y2='0'
          [attr.stroke-width]='svgGrid.scaleWithZoom(3)'></line>

    <line id='axes' x1='0' [attr.y1]='svgGrid.viewBoxMinY' x2='0' [attr.y2]='svgGrid.viewBoxMaxY'
          [attr.stroke-width]='svgGrid.scaleWithZoom(3)'></line>

    <!-- Axes Labels -->
    <ng-container>
      <ng-container *ngFor='let line of svgGrid.verticalLines'>
        <text id='axes_numbers' text-anchor='middle' [attr.x]='line' [attr.y]='svgGrid.scaleWithZoom(20)'
              [attr.stroke-width]='svgGrid.scaleWithZoom(5)'
              [attr.font-size]='svgGrid.scaleWithZoom(15)'>{{line}}</text>
      </ng-container>
      <ng-container *ngFor='let line of svgGrid.horizontalLines'>
        <text id='axes_numbers' text-anchor='end' [attr.y]='line' [attr.x]='svgGrid.scaleWithZoom(-10)'
              [attr.stroke-width]='svgGrid.scaleWithZoom(5)'
              [attr.font-size]='svgGrid.scaleWithZoom(15)'>{{line}}</text>
      </ng-container>
      <text id='axes_numbers' text-anchor='end' [attr.y]='svgGrid.scaleWithZoom(20)'
            [attr.x]='svgGrid.scaleWithZoom(-10)'
            [attr.stroke-width]='svgGrid.scaleWithZoom(5)'
            [attr.font-size]='svgGrid.scaleWithZoom(15)'>
        0
      </text>
    </ng-container>
  </g>

  <g id='jointBGHolder' style='transform: scaleY(-1)'>
    <svg
      *ngFor='let joint of mechanismSrv.getJoints()'
      [attr.x]='joint.x' [attr.y]='joint.y'
      width='10'
      height='10'
      style='overflow: visible'
    >
      <image *ngIf='gridUtils.getGround(joint) && gridUtils.typeOfJoint(joint) !== "P" && !gridUtils.getInput(joint)'
             xlink:href='../../../assets/Ground.svg'
             [attr.width]='settings.objectScale * 1.2' [attr.x]='settings.objectScale*-0.6' [attr.y]='settings.objectScale*-0.35' [attr.height]='settings.objectScale*1.2' style='transform: scaleY(-1)' />
      <image *ngIf='gridUtils.getGround(joint) && gridUtils.typeOfJoint(joint) !== "P" && gridUtils.getInput(joint) && settings.isInputCW'
             xlink:href='../../../assets/InputCCW.svg'
             [attr.width]='settings.objectScale*1.2' [attr.x]='settings.objectScale*-0.6' [attr.y]='settings.objectScale*-0.5' [attr.height]='settings.objectScale*1.2' style='transform: scaleY(-1)' />
      <image *ngIf='gridUtils.getGround(joint) && gridUtils.typeOfJoint(joint) !== "P" && gridUtils.getInput(joint) && !settings.isInputCW'
             xlink:href='../../../assets/InputCW.svg'
             [attr.width]='settings.objectScale*1.2' [attr.x]='settings.objectScale*-0.6' [attr.y]='settings.objectScale*-0.5' [attr.height]='settings.objectScale*1.2' style='transform: scaleY(-1)' />
      <image *ngIf="gridUtils.typeOfJoint(joint) === 'P' && gridUtils.getGround(joint) && !gridUtils.getInput(joint)"
             xlink:href='../../../assets/SliderPill.svg'
             width='1.2' x='-0.6' y='-0.6' height='1.2' style='transform: rotateZ({{gridUtils.getPrisAngle(joint)}}rad)' />

    </svg>
  </g>
  <g id='linkHolder' style='transform: scaleY(-1)'>
    <ng-container *ngFor='let link of mechanismSrv.getLinks()'>
      <path
        *ngIf='gridUtils.typeOfLink(link) == "R"'
        (pointerover)='link.showHighlight = true'
        (pointerout)='link.showHighlight = false'
        (pointerdown)='setLastLeftClick(link)'
        (contextmenu)='setLastRightClick(link)'
        [attr.d]="mechanismSrv.getLinkProp(link, 'd')"
        [attr.id]='link.id'
        [attr.fill]="mechanismSrv.getLinkProp(link, 'fill')"
        [attr.fill-opacity]=0.7
        [attr.stroke]="mechanismSrv.getLinkProp(link, 'fill')"
        [attr.stroke-width]='svgGrid.scaleWithZoom(3)'
        [class]='mechanismSrv.getLinkCSSClass(link)'
      >
      </path>
      <image *ngIf='gridUtils.typeOfLink(link) == "P"'
             xlink:href='../../../assets/SliderTrackMid.svg'
             width='3.6' x='-1.8' y='-1.8' height='3.6' style='transform: scaleY(-1)' />
    </ng-container>
  </g>
  <g id='jointHolder' style='transform: scaleY(-1)'>
    <svg
      *ngFor='let joint of mechanismSrv.getJoints()'
      [attr.x]='joint.x' [attr.y]='joint.y'
      (pointerover)='joint.showHighlight = true'
      (pointerout)='joint.showHighlight = false'
      (contextmenu)='setLastRightClick(joint)'
      (pointerdown)='setLastLeftClick(joint)'
      width='20'
      height='20'
      style='overflow: visible'
      cursor='move'
    >
      <circle
        id='joint_{{ joint.id }}' class='joint_circles'
        [attr.r]='settings.objectScale * gridUtils.getJointR(joint)'
        [attr.cx]='0'
        [attr.cy]='0'
        [class]='mechanismSrv.getJointCSSClass(joint)'
      />
    </svg>
  </g>
  <g id='pathsHolder' *ngIf='mechanismSrv.showPathHolder'>
    <path
      *ngFor='let joint of mechanismSrv.getJoints()'
      [attr.d]='mechanismSrv.getJointPath(joint)'
      fill='none'
      [attr.stroke-width]='0.04 * settings.objectScale'
      style='transform: scaleY(-1); pointer-events: none'
    ></path>
  </g>
  <g
    id='forcesHolder'
    style='transform: scaleY(-1)'
    *ngFor='let force of mechanismSrv.getForces()'
    (contextmenu)='setLastRightClick(force)'
    (pointerdown)='setLastLeftClick(force)'
  >
    <g
      [attr.id]='force.id'
      (pointerover)='force.showHighlight = true'
      (pointerout)='force.showHighlight = false'
    >
      <path
        *ngIf='force.showHighlight'
        [attr.d]='force.forceLine'
        stroke='yellow'
        stroke-width='0.2'
      ></path>
      <!-- Transpent thicker force to increase hitbox for the group for highliting-->
      <path [attr.d]='force.forceLine' [attr.stroke]='force.stroke' stroke-width='0.04'></path>
      <path [attr.d]='force.forceLine' stroke='transparent' stroke-width='0.4'></path>
      <path [attr.d]='force.forceArrow' [attr.fill]='force.fill'></path>
    </g>
    <svg
      id='startForceEndpoint'
      [attr.x]='force.startCoord.x'
      [attr.y]='force.startCoord.y'
      (pointerdown)='activeObjService.updateSelectedObj(force.startCoord, force); mouseDown($event); $event.stopPropagation()'
      height='10'
      width='10'
      style='overflow: visible; cursor: move'
    >
      <circle cx='0%' cy='0%' r='0.1' fill='blue'></circle>
      <circle cx='0%' cy='0%' r='0.1' fill='blue'></circle>
    </svg>
    <svg
      id='endForceEndpoint'
      [attr.x]='force.endCoord.x'
      [attr.y]='force.endCoord.y'
      (pointerdown)='activeObjService.updateSelectedObj(force.endCoord, force); mouseDown($event); $event.stopPropagation()'
      height='10'
      width='10'
      style='overflow: visible; cursor: move'
    >
      <circle cx='0%' cy='0%' r='0.1' fill='blue'></circle>
      <circle cx='0%' cy='0%' r='0.1' fill='blue'></circle>
    </svg>
  </g>
  <g id='jointTagHolder' style='pointer-events: none'>
    <svg
      *ngFor='let joint of mechanismSrv.getJoints()'
      [attr.x]='joint.x - 0.3'
      [attr.y]='-1 * joint.y - 0.5'
      [attr.height]='10'
      [attr.width]='10'
      style='overflow: visible; text-anchor: middle'
    >
      <text
        *ngIf="(gridUtils.typeOfJoint(joint) !== 'P' && settings.isShowID.value) || joint.showHighlight"
        style='font-size: {{svgGrid.scaleWithZoom(30)}}; text-anchor: middle'
      >
        {{ joint.id | uppercase }}
      </text>
    </svg>
  </g>
  <g id='linkTagHolder' style='pointer-events: none'>
    <svg
      *ngFor='let link of mechanismSrv.getLinks()'
      [attr.x]="mechanismSrv.getLinkProp(link, 'CoMX')"
      [attr.y]="mechanismSrv.getLinkProp(link, 'CoMY')"
      [attr.height]='10'
      [attr.width]='10'
      style='overflow: visible; text-anchor: middle'
    >
      <text
        *ngIf="(gridUtils.typeOfLink(link) !== 'P' && settings.isShowID.value) || link.showHighlight"
        style='font-size: {{svgGrid.scaleWithZoom(30)}}; text-anchor: middle'
      >
        {{ link.id | uppercase }}
      </text>
    </svg>
  </g>
  <g id='forceTagHolder' *ngIf='settings.isShowID.value' style='pointer-events: none'>
    <svg
      *ngFor='let force of mechanismSrv.getForces()'
      [attr.x]='(force.startCoord.x + force.endCoord.x) / 2'
      [attr.y]='((force.startCoord.y + force.endCoord.y) / 2) * -1'
      [attr.height]='10'
      [attr.width]='10'
      style='overflow: visible; text-anchor: middle'
    >
      <!-- should font-size have px??? -->
      <text style='font-size: 0.7px; text-anchor: middle'>
        {{ force.id }}
      </text>
    </svg>
  </g>
  <g id='comTagHolder' style='transform: scaleY(-1); pointer-events: none' *ngIf='settings.isShowCOM.value'>
    <svg *ngFor='let link of mechanismSrv.getLinks()' style='overflow: visible' width='1.23' height='2.61'>
      <path
        stroke-width='2'
        stroke-linejoin='round'
        fill='black'
        opacity='1.0'
        [attr.d]="mechanismSrv.getLinkProp(link, 'CoM_d1')"
      ></path>
      <path
        stroke-width='2'
        stroke-linejoin='round'
        fill='white'
        opacity='1.0'
        [attr.d]="mechanismSrv.getLinkProp(link, 'CoM_d2')"
      ></path>
      <path
        stroke-width='2'
        stroke-linejoin='round'
        fill='black'
        opacity='1.0'
        [attr.d]="mechanismSrv.getLinkProp(link, 'CoM_d3')"
      ></path>
      <path
        stroke-width='2'
        stroke-linejoin='round'
        fill='white'
        opacity='1.0'
        [attr.d]="mechanismSrv.getLinkProp(link, 'CoM_d4')"
      ></path>
    </svg>
  </g>
  <g id='pathPointHolder'></g>
  <g id='threePositionHolder'></g>
  <g id='jointTempHolder' style='display: none; transform: scaleY(-1)'>
    <line
      stroke='black'
      stroke-width='0.02'
      stroke-opacity='0.5'
      style='pointer-events: none'
    ></line>
    <svg height='10' width='10' style='overflow: visible' cursor='move'>
      <circle
        r='0.14'
        cx='0%'
        cy='0%'
        fill='black'
        fill-opacity='0.5'
        stroke-opacity='0.5'
      ></circle>
      <!--      (pointerdown)="mouseDown($event, 'jointTemp')"-->
      <circle
        r='0.1'
        cx='0%'
        cy='0%'
        fill='gray'
        stroke='#00000000'
        stroke-width='0.2'
      ></circle>
    </svg>
  </g>
  <g id='forceTempHolder'
     opacity='0.5'
     style='display: none; pointer-events: none; transform: scaleY(-1)'
  >
    <path stroke-width='0.04' stroke='black' d=''></path>
    <path fill='black' d=''></path>
  </g>

<!--  <g id='activeObjectHighlight' style='transform: scaleY(-1); pointer-events: none'>-->
<!--    <circle-->
<!--      *ngIf="activeObjService.objType == 'Joint'"-->
<!--      [attr.r]='0.01'-->
<!--      [attr.cx]='activeObjService.selectedJoint.x'-->
<!--      [attr.cy]='activeObjService.selectedJoint.y'-->
<!--    />-->

<!--    <path-->
<!--      *ngIf="activeObjService.objType == 'Link'"-->
<!--      [attr.d]='mechanismSrv.getLinkProp(activeObjService.selectedLink, "d")'-->
<!--      stroke-width='0.5'-->
<!--    ></path>-->
<!--  </g>-->
</svg>
<ng-template #context_menu>
  <app-context-menu [menuItems]='cMenuItems'>
  </app-context-menu>
</ng-template>
