<g id='synthesisPoseHolder' style='transform: scaleY(-1)'>
    <svg
      *ngFor='let pose of synthesisBuilder.getAllPoses()'
      [attr.x]='pose.getPosA().x' [attr.y]='pose.getPosA().y'
      width='20'
      height='20'
      style='overflow: visible'
      cursor='move'
    >

      <!-- Hitbox -->
      <circle [attr.r]='settings.objectScale/4' cx='0' cy='0' fill='transparent' />
<!--Joint circle-->
      <circle
        class='joint_circles'
        [attr.r]='settings.objectScale * synthesisBuilder.constants.CIRCLE_RADIUS'
        [attr.cx]='0'
        [attr.cy]='0'
        [class]='joint-default'
      />

    </svg>
  </g>