name: Bump Version
run-name: Automated Version Bump by ${{ github.actor }}
on: [ push ]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Automated Version Bump
        uses: actions/checkout@v3
      - uses: phips28/gh-action-bump-version@v10.0.1

